

/*menubar*/

   .topmenu{
display: block;
    width: 220px;
    padding: 0;
    /* margin: -350px 15.5%; */
    z-index: 20;
    position: absolute;
    background: rgba(70, 42, 42, 0.6);
    top: 72px;
    left: 222px;
        }
        .toptitle{
            height:40px;
            line-height: 40px;
            text-align: left;
            font-size: 11pt;
            font-weight: bold;
            color:white;
            background-color:#e4393c; 
            padding-left: 20px;
        }
        .topmenu li{
            height:98px;
            line-height: 70px;
             font-size: 11pt;
             list-style-type: none;
             text-align: left;
             padding-left: 8px;
             z-index: 3;
             background-image: url(../images/next.png);
             background-repeat: no-repeat;
             background-position:right; 
             background-size: 16px 12px;
             border: 1px solid rgba(238, 238, 238, 0);

        }
        .topmenu li .title{
                color: white;
                font-weight: bold;
                position: relative;
                top: -10px;
        }
        .topmenu li p a{
            font-size: 9pt;
            color:white;
        }
        .topmenu li:hover{
            /*border:1px solid #DDD;*/
            border-right: 0;
            box-shadow: 0 0 8px #DDD;
            -moz-box-shadow: 0 0 8px #DDD;
            -webkit-box-shadow: 0 0 8px #DDD;
            background-image: none;
            background-color: rgba(255, 0, 0, 0.83);
        }
        .topmenu li a{
            text-decoration: none;
            color:#313131;
            font-family: microsoft yahei;
        }
        .topmenu li dl a:hover{
            color:#ff6b3d;;
            font-weight: bold;
            text-decoration: underline;
        }

        .submenu{
            display: none;
            width:490px;
            left:220px;
            position: absolute;
            top:0px;
            border:1px solid #ddd;
            z-index: 4;
            background-color: white;

            box-shadow: 0 0 8px #DDD;
            -moz-box-shadow: 0 0 8px #DDD;
            -webkit-box-shadow: 0 0 8px #DDD;
        }
        .leftdiv{
            
            float: left;
            width:490px;
            margin:5px;
        }
        .rightdiv{
            border-left: 1px solid #e4393c;
            float: left;
            width:200px;
            margin:5px;
        }
        .topmenu li:hover .submenu{
            display: block;
        }
        .topmenu li:hover span{
            background-color: white;
            display: inline-block;
            z-index: 20;
            width:20px;
            height:70px;
            float: right;
            position: relative;
            right: -2px;
        }

        .topmenu li i{
            width: 45px;
            height: 45px;
            /* line-height: 92px; */
            background-color: #e4393c;
            display: inline-block;
            position: relative;
            top: 15px;
            background: transparent url("../images/icon.png") repeat scroll;
        }
        .topmenu li #icon1{
		    background-position: -3px 124px;
		    background-size: 623% 279%;
        }
         .topmenu li #icon2{
		    background-position: -56px 126px;
    		background-size: 623% 280%;
        }
         .topmenu li #icon3{
	        background-position: -179px 126px;
    		background-size: 623% 279%;
        }
         .topmenu li #icon4{
			background-position: -114px 122px;
			background-size: 623% 279%;
        }

        .leftdiv dl{
            display: block;
            border-bottom: 1px solid #eee;
            padding-bottom: 6px;
            overflow: hidden;
        }
        .leftdiv dl dt{
            display: block;
            float: left;
            width:100px;
            text-align: right;
            height: 22px;
            line-height: 22px;
            padding-right: 6px;
            margin-top: 20px;

        }

        .leftdiv dl dt a{
            color:#ff6b3d;;
            font-weight: bold;
            text-decoration: underline;
            font-size: 10pt;
        }
        .leftdiv dl dd{
            display: block;
            overflow: hidden;
            margin-top: 20px;
        }
        .leftdiv dl dd a{
            display: block;
            float: left;
            border-left: 1px solid #ccc;
            color:#737373;
            font-size: 9pt;
            padding:0 8px;
            height:14px;
            line-height: 14px;
            margin:4px 0;
        }

        .rightdiv dl dd{
            margin:3px 0;
        }
        .rightdiv dl dt{
            color:#e4393c;
            font-weight: bold;
            font-size: 10pt;
        }
        .rightdiv dl dd a{
            font-size: 9pt;
            color:#737373;
            line-height: 22px;

        }
        .rightdiv dl dd a:hover{
            font-size: 9pt;
            color:#737373;
            line-height: 22px;
            font-weight: normal;
            
        }

/*menubar*/


/*bannerͼ��ʼ*/
    #container { width: 1424px; height: 400px;     border-radius: 3px;
    box-shadow: 0 0 8px #DDD; overflow: hidden; position: relative;    margin: 0 auto}
        #list { width: 9968px; height: 400px; position: absolute; z-index: 1;}
        #list img { float: left;width:1424px;height:400px}
        #buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 49%;}
        #buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
        #buttons .on {  background: orangered;}
        .arrow {  
            cursor: pointer;
            display: none;
            line-height: 50px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            width: 35px;
            height: 50px;
            position: absolute;
            z-index: 2;
            top: 180px;
            background-color: RGBA(0,0,0,.3);
            color: #fff;
        }
        .arrow:hover { background-color: RGBA(0,0,0,.7);}
        #container:hover .arrow { display: block;}
        #prev { left: 220px;}
        #next { right: 20px;}

/*bannerͼend*/

.travel {
    width: 980px;

    z-index: 2;
    position: absolute; 
    left: 50%;
}

.travel .travel_inner {
    width: 200px;
  /*   height: 400px; */
    float: left;

}

.travel .travel_inner .item {
    width: 200px;
    height: 80px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 20px;
    background: rgba(70, 42, 42, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99000000", endColorstr="#99000000") \9;
	transition:all 0.3s ease;
}

.travel .travel_inner .item:hover {
    background-color: #F00;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

#item_active {
    background-color: #6a71a1;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.item li {
    float: left;
}

.item li i {
    width: 45px;
    height: 45px;
    display: inline-block;
    background: transparent url("../images/icon.png") repeat scroll;

}

#icon1 i {

    background-position: -3px 124px;
     background-size: 623% 279%;
}

#icon2 i {
   background-position: -56px 126px;
    background-size: 623% 279%;

}

#icon4 i {
    background-position: -114px 122px;
    background-size: 623% 279%;
}

#icon3 i {
    background-position: -179px 126px;
    background-size: 623% 279%;
}

.item .item_cont {
    margin-left: 10px;
}

.item .item_cont a {
    display: inline-block;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-weight: bold;
}

.item .item_cont dd a {
    font-size: 10pt;
    color: rgba(255, 255, 255, 1);
}

.travel .travel_right {
    width: 778px;
   /*  height: 400px; */
    float: left;

}

.travel .travel_right .sub_item {

    width: 500px;
    display: none;
    background-color: white;
    opacity: 1;
    filter: alpha(opacity=50);
    /*float: left;*/
}

.travel_right .one {
    height: auto;
}

.travel .two {
    height: auto;
}

.travel .three {
    height: auto;
}

.travel .four {
    height: auto;
}

.travel .list_one {
    padding: 10px;
}
.travel .list_one h1{
	font-family: "microsoft yahei";
	font-size: 11pt;
    font-weight: bold;
}

.travel .list_one li {
    float: left;
    margin: 6px;
}

.travel .list_one li a {
    padding: 3px 5px;
    color: #3c3c3c;
    font-size: 10pt;
    font-family: "Microsoft YaHei";
    transition:all 0.3s ease;
}

.travel .list_one li a:hover {
    background-color: #EA5413;
    color: white
}
