* {
    font-family: "Microsoft YaHei";
}

a {
    text-decoration: none;
}

.clear_fix:before, .clear_fix:after {
    clear: both;
    content: "";
    display: block;
}
.travel{
	top: 220px;
    margin-left: -490px;
}
.layer_body {
    width: 980px;
    height: 300px;
    margin: 10px auto;
    /*border:1px solid #746874;*/

}

.box_hd {
    width: 980px;
    height: 40px;
    position: relative;
    margin-bottom: 5px;
}

.box_hd .icon {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    background: transparent url("../images/main-icon.png") repeat scroll;
}

.box_hd h2 {
    font-family: "Microsoft YaHei light";
    font-size: 19px;
    color: rgb(70, 70, 70);
    display: inline-block;
    padding: 12px 5px;
    float: left;
    font-weight: bold;
    letter-spacing: 2px;
}


.box_hd .line {

    height: 1px;
    background-color: #b76cc7;
    position: relative;
}

.box_hd a {
    float: right;
    margin-top: 10px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(70, 70, 70);
    font-weight:bold;
    transition:all 0.3s ease;
}
.box_hd a:hover{
	color: rgb(234,84,19);
	text-decoration: underline;
}

/*������������������������������������start*/
#now_hot .icon {
    background-size: 680% 153%;
    background-position:-8px 50px  ;
}

#now_hot .line {
    top: 20px;
    left: 137px;
    width: 750px;
}

/*end*/
/*���������������������������start*/
#theme .icon {
   background-size: 616% 123%;
    background-position: -52px 45px;
}

#theme .line {
    left: 200px;
    top: 20px;
    width: 685px;
}

/*end*/
/*���������������������������������tart*/
#gonglve .icon {
    background-size:679% 175%;
    background-position:-232px 53px;
}

#gonglve .line {
    left: 200px;
    top: 20px;
    width: 685px;
}

/*end*/
.layer_body .layer_inner {
    /*width: 230px;*/
    /*height: 280px;*/
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}




.layer_body .layer_inner .tabs {
    width: 70px;
    float: left;

}

.layer_body .layer_inner .tabs a {
    display: inline-block;
    color: white;
    font-size: 16px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-family: "Microsoft YaHei";
}


.city_img {
    width: inherit;
    height: 140px;
    overflow: hidden;
    background-color: beige;
}

.city_img img, .destination .des_img img{
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.city_img img:hover,.destination .des_img img:hover {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  /*   -webkit-filter:blur(2px);
     -o-filter:blur(2px);
    -moz-filter:blur(2px);
    filter:blur(2px); */
    
}

.city_desc {
    width: 230px;
    height: 140px;
    border:1px solid #DED9D9;
    box-sizing: border-box;
}

.city_desc .city_title {
    width: inherit;
    margin: 10px auto;
    text-align: center;
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: bolder;
}

.city_desc .city_title .city_name {
    color: rgb(234,84,19);
   
}

.city_desc .city_title .site_name {
    color: #00117a;
}

.city_desc .city_title .point {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: black;
    position: relative;
    top: -4px;
    border-radius: 2px;
}

.city_desc p {
	font-family:"microsoft yahei light";
    width: 230px;
    height: 90px;
    color: rgba(0, 0, 0, 1);
    padding: 0 16px;
    line-height: 22px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: justify;
    letter-spacing: 1px;
    overflow: hidden;

}

.layer_body .layer_inner li {
    width: 70px;
    height: 70px;
    text-align: center;

}

.layer_body .layer_inner li a:hover {
    background-color: white;
    color: #3c3c3c;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -moz-transform: rotate(-8deg); /* Firefox */
    -webkit-transform: rotate(-8deg); /* Safari and Chrome */
    -o-transform: rotate(-8deg); /* Opera */
    transform: rotate(-8deg);
    border-radius: 40px;
}

.layer_body .layer_inner li a {
    transition: all 0.5s linear 0s;
}

.layer_body .tab_inner {
    width: 230px;
    height: 280px;
    float: left;
    overflow: hidden;
}

/*
.layer_body .tab_inner .type {
    width: 230px;
    height: 280px;
    float: left;
}
*/

.layer_body .last {
    margin-right: 0;
}

.destination .layer_inner {

    width: 190px;
    margin-right: 7px;

}

.layer_inner .des_img {

    width: 190px;
    height: 280px;
    z-index: 1;
    overflow: hidden;

}


/* .destination .des_img img {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.destination .des_img img:hover {
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
} */

.desc_img {
    width: inherit;
    height: 45px;
     background-color: #3c3c3c;
    bottom: 45px;
    position: relative;
    opacity: 0.8;
    text-align: center;
}

.desc_img h2 {
    line-height: 40px;
    color: rgba(255,255,255,1);
    font-size:19px;
    font-family: "microsoft yahei"
}

.destination .last {
    margin-right: 0;
}

.strategy {

    height: 350px;
}

.sort {
    /*border:1px solid red;*/

    margin: 10px auto;
}

.sort .active {
    color: #ea5413;
}

.sort a {
    margin: auto 10px;
    color: black;
    line-height: 30px;
    font-family: "Microsoft YaHei light";
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
    font-weight:bold;
}

.sort a:hover {
    color: #ea5413
}

.strategy .layer_inner {
    width: 140px;
    margin-right: 25px;
}

.strategy .des_img {
    height: 180px;
    width: 140px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.strategy .des_img:hover {
    -moz-box-shadow: 0px -6px 18px rgba(0, 0, 0, 0.18);;
    -webkit-box-shadow: 0px -6px 18px rgba(0, 0, 0, 0.18);
    box-shadow: 0px -6px 18px rgba(0, 0, 0, 0.18);
    margin-top: -5px;
}

.strategy .desc_img em {
    font-size: 10px;
    display: block;
    font-family: "Microsoft YaHei";
    margin: 5px auto;
}
.strategy .desc_img{
	bottom: 0px;
    background-color: white;
}
.down_cout {
    height: 24px;
    width: 140px;
    background: #EBEBEB none repeat scroll 0% 0%;
    border-radius: 30px;
    position: relative;
}

.down_cout span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background: transparent url("../images/gonglve.png") no-repeat scroll -88px 0px;
}

.down_cout p {
    line-height: 24px;
    color: #666;
    padding-left: 15px;
    font-size: 15px;
    font-family: "microsoft yahei";
}

.strategy .last {
    margin-right: 0;
}

.city_list {
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    margin: 00px auto;
    padding: 5px 190px;
    box-sizing: border-box;
    position: relative;
    top: 80px;

}

.city_list h1 {

    font-family: "Microsoft YaHei";
    font-size: 19px;
    color: rgba(70, 70, 70, 0.8);
    display: inline-block;
    line-height:40px;
    font-weight: bold;
    letter-spacing: 2px;

}

.city_list ul {
   /*  margin-left: 10px; */

}

.city_list li {
    float: left;
    padding: 10px 5px;
}

.city_list a {
    color: rgba(0, 0, 0, 0.58);
    padding:2px 8px;
    font-size: 15px;
    transition: 0.4s all ease;
    font-family: "microsoft yahei"

}

.city_list a:hover {
    background-color: #ff4c31;
    color: white
}

