@charset "UTF-8";
/**
 * 
 * @authors shixu
 * @date    2015-09
 */
 
 /*麵包屑  */
#header {
	margin-bottom: 0;
}
/* ::-webkit-scrollbar {
		  width: 15px;
	} 这是针对缺省样式 (必须的)
::-webkit-scrollbar-track {
		  background-color: #ffffff;
	} 滚动条的滑轨背景颜色

	::-webkit-scrollbar-thumb {
		  background-color: rgba(0, 0, 0, 0); 
	} 滑块颜色

	::-webkit-scrollbar-button {
		  background-color: #7c2929;
	} 滑轨两头的监听按钮颜色

	::-webkit-scrollbar-corner {
		  background-color: black;
	} 横向滚动条和纵向滚动条相交处尖角的颜色 */
.crumb .item a {
	color: #666;
	font-size: 12px;
}

.crumb {
	width: 980px;
	font: 12px Arial, "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", Tahoma,
		Helvetica, STHeiti, "Hiragino Sans GB";
	height: 20px;
	padding: 15px 0;
	color: #666;
	line-height: 20px;
	margin: 0 auto;
}

#breadcrumbs-four {
	overflow: hidden;
	width: 980px;
	margin:5px auto;
}

#breadcrumbs-four li {
	float: left;
	margin: 0 .5em 0 1em;
}

#breadcrumbs-four a {
	padding:4px;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	
}
#breadcrumbs-four a:hover {
	color:red;
}
#breadcrumbs-four .current,#breadcrumbs-four .current:hover {
	color:red;
}

#breadcrumbs-four .current::after,#breadcrumbs-four .current::before {
	content: normal;
}
/* 麵包屑 結束 */
body {
	font-size: 12px;
	font-family: Arial, "Lucida Grande", "Microsoft Yahei",
		"Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti;
	color: #666
}

html.hasFontSmoothing-false body {
	font-family: Arial, SimSun, "Lucida Grande", "Hiragino Sans GB",
		"Hiragino Sans GB W3", STHeiti
}

input,select,textarea,button {
	font-family: Arial, "Lucida Grande", "Microsoft Yahei",
		"Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti
}

body,p,div {
	margin: 0;
	padding: 0;
	word-break: break-all;
	word-wrap: break-word
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 100%
}

ul,ol,li,dl,dd,dt {
	margin: 0;
	padding: 0;
	list-style: none
}

a {
	color: #ff9d00;
	text-decoration: none;
	cursor: pointer
}

td {
	font-size: 12px;
	color: #666
}

img {
	border: 0;
	vertical-align: middle
}

input {
	outline: 0
}

.clear {
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

.clearfix:after,.wrapper:after,.article:after {
	content: '\20';
	clear: both;
	display: block
}

.clearfix,.wrapper,.article {
	*zoom: 1
}

#header {
	margin: 0;
}

.row {
	padding: 30px 0;
	min-width: 980px;
}

.row a {
	color: #643718;
}

.row-bg {
	background-color: #f5f5f5;
}

.row-primary {
	padding-top: 0;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

.crumb {
	height: 20px;
	padding: 15px 0;
	color: #666;
	font-size: 12px;
	line-height: 20px;
}

.crumb a {
	color: #666;
	font-size: 12px;
}

.crumb h1 {
	display: inline;
	font-size: 12px;
	font-weight: normal;
}

.crumb .tit {
	float: left;
}

.crumb .item {
	float: left;
}

.crumb .item em {
	margin: 0 6px;
	color: #999;
	font-family: 'simsun';
	font-style: normal;
}

.crumb .drop {
	float: left;
}

.crumb .drop .hd {
	height: 20px;
}

.crumb .drop .hd a {
	display: block;
	height: 20px;
	_float: left;
	padding: 0 13px 0 5px;
}

.crumb .drop .hd a:hover {
	text-decoration: none;
}

.crumb .drop .hd i {
	position: absolute;
	margin: 8px 0 0 3px;
	*margin: 4px 0 0 3px;
	width: 0;
	height: 0;
	border-top: 3px solid #ff7000;
	border-left: 3px dashed transparent;
	border-right: 3px dashed transparent;
	overflow: hidden;
	font-size: 0;
}

.crumb .drop.open .hd a {
	background-color: #ff7000;
	color: #fff;
}

.crumb .drop.open .hd i {
	border-top-color: #fff;
}

.crumb .drop .bd {
	position: absolute;
	display: none;
	margin: 5px 0 0 -10px;
	_margin: 20px 0 0 -70px;
	z-index: 10;
	padding: 10px 0 8px 7px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.crumb .drop.open .bd {
	display: block;
}

.crumb .drop .bd .arrow {
	position: absolute;
	left: 20px;
	top: -6px;
	width: 0;
	height: 0;
	border-bottom: 6px solid #e5e5e5;
	border-left: 6px dashed transparent;
	border-right: 6px dashed transparent;
	font-size: 0;
}

.crumb .drop .bd .arrow b {
	position: absolute;
	left: -6px;
	top: 2px;
	width: 0;
	height: 0;
	border-bottom: 6px solid #fff;
	border-left: 6px dashed transparent;
	border-right: 9px dashed transparent;
	font-size: 0;
	overflow: hidden;
}

.crumb .drop .col {
	float: left;
	width: 145px;
}

.crumb .drop h3 {
	padding-left: 7px;
	color: #333;
}

.crumb .drop li {
	float: left;
	display: inline;
	width: 137px;
	margin: 4px 8px 0 0;
	height: 21px;
	line-height: 20px;
	overflow: hidden;
}

.crumb .drop li a {
	display: block;
	height: 21px;
	padding: 0 7px;
	color: #333;
}

.crumb .drop li span {
	color: #999;
}

.crumb .drop li a:hover,.crumb .drop li.on a {
	background-color: #fff1d7;
	color: #ff7000;
	text-decoration: none;
}

.crumb .drop li a:hover span,.crumb .drop li.on a span {
	color: #ff7000;
}

.crumb .drop .more {
	clear: both;
	padding: 10px 20px 0 0;
	text-align: right;
}

.crumb .drop .more a {
	color: #ff7000;
}

.crumb .item.cur {
	color: #ff7000;
}

.overview-drop {
	position: absolute;
	margin-top: 7px;
	z-index: 5;
	width: 960px;
	border: 10px solid #f5f5f5;
	padding: 5px 0;
	background-color: #fff;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.overview-drop .drop-bd {
	
}

.overview-drop .drop-bd dl {
	padding-left: 105px;
	line-height: 36px;
}

.overview-drop .drop-bd dt {
	float: left;
	display: inline;
	margin: 0 0 0 -87px;
	color: #654939;
	font-size: 16px;
}

.overview-drop .drop-bd dt a {
	color: #643718;
}

.overview-drop .drop-bd dd {
	font-size: 14px;
	color: #333;
}

.overview-drop .drop-bd dd a {
	float: none;
	height: auto;
	color: #333;
}

.overview-drop .drop-bd dd span {
	padding: 0 5px;
}

/* nav fixed */
.nav-fixed {
	position: fixed !important;
	_position: absolute !important;
	width: 100% !important;
	z-index: 100 !important;
	top: 0;
	left: 0;
	padding: 0;
	border: none;
	background-color: rgba(255, 255, 255, .8);
	background-color: #fff \9;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
	border-bottom: 1px solid #ccc;
}

.nav-fixed .nav-bd li {
	width: auto;
	margin: 0 73px 0 0;
	*margin-right: 70px;
}

.nav-fixed .nav-bd .nav-shopping.nav-sub {
	margin-top: 0;
}

.nav-fixed .nav-bd li a {
	*display: inline;
	height: 60px;
	line-height: 60px;
	border: none;
}

.nav-fixed .nav-bd li a:after {
	display: none;
}

.nav-fixed .nav-bd .img,.nav-fixed .nav-bd var {
	display: none;
}

.nav-fixed .nav-bd .nav-last {
	margin-right: 0;
}

.nav-fixed .nav-overview a:hover:after,.nav-fixed .nav-overview.on a:after
	{
	bottom: 0;
}

.nav-fixed .nav-overview a:hover,.nav-fixed .nav-overview.on a {
	color: #643718;
}

.nav-fixed .nav-scenic a:hover,.nav-fixed .nav-scenic.on a {
	color: #f38b36;
}

.nav-fixed .nav-hotel a:hover,.nav-fixed .nav-hotel.on a {
	color: #51cbd3;
}

.nav-fixed .nav-cate a:hover,.nav-fixed .nav-cate.on a {
	color: #cc9148;
}

.nav-fixed .nav-ask a:hover,.nav-fixed .nav-ask.on a {
	color: #9fc507;
}

.nav-fixed .nav-schedule a:hover,.nav-fixed .nav-schedule.on a {
	color: #ffcd4d;
}

.nav-fixed .nav-travels a:hover,.nav-fixed .nav-travels.on a {
	color: #61aee1;
}

.nav-fixed .nav-shopping a:hover,.nav-fixed .nav-shopping.on a {
	color: #ff433b;
}

.nav-fixed .nav-entertainment a:hover,.nav-fixed .nav-entertainment.on a
	{
	color: #9280ff;
}

.nav-fixed .overview-drop {
	margin-top: 3px;
}

.r-main {
	float: left;
	width: 680px;
}

.r-side {
	float: right;
	width: 260px;
}

.screen .photo {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.screen .photo img {
	box-shadow:0 0 8px #ddd;
	border:1px solid #ddd;
}
.screen .photo:hover {
	text-decoration: none;
}

.screen .photo .text {
	position: absolute;
	left: 60px;
	top: 115px;
	color: #fff;
	font-size: 24px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

.screen h1 {
	font-weight: normal;
	font-size: 80px;
	z-index: 2;
}

.screen .photo:before {
	content: '';
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.33) 0,
		rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0) 100% );
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0,
		0, 0.33) ), color-stop(60%, rgba(0, 0, 0, 0.15) ),
		color-stop(100%, rgba(0, 0, 0, 0) ) );
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.33) 0,
		rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0) 100% );
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.33) 0,
		rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0) 100% );
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.33) 0,
		rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0) 100% );
	background: linear-gradient(to right, rgba(0, 0, 0, 0.33) 0,
		rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0) 100% );
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.screen .photo:hover .text {
	opacity: 0;
	filter: alpha(opacity = 0);
}

.screen .photo:hover:before {
	opacity: 0;
}

.m-impress {
	margin: 0 0 10px;
}

.m-impress .hd {
	margin: -5px 0 25px;
	font-weight: normal;
	line-height: 30px;
	font-size: 28px;
}

.m-impress .bd {
	width: 260px;
	height: 310px;
	overflow: auto;
	padding:5px;
	box-sizing:border-box;
}

.m-impress .bd p {
	font-size: 15px;
	letter-spacing: 2px;
    padding: 7px;
}

.m-impress .bd ul {
	margin-left: -5px;
	*zoom: 1;
}

.m-impress .bd li {
	float: left;
	display: inline;
	margin: 0 0 6px 6px;
}

.m-impress .bd li a {
	float: left;
	padding: 4px 8px 4px 10px;
	height: 20px;
	border: 1px solid #fece72;
	line-height: 20px;
	font-size: 14px;
	color: #ff8a00;
	border-radius: 2px;
	white-space: nowrap;
}

.m-impress .bd li a:hover {
	text-decoration: none;
	background-color: #ffa800;
	border-color: #ffa800;
	color: #fff;
}

.m-impress .bd a em {
	font-size: 12px;
	color: #999;
	font-family: verdana;
	font-style: normal;
}

.m-impress .bd a:hover em {
	color: #fff;
}

.r-side .m-nearby {
	position: relative;
	z-index: 3;
	width: 260px;
	height: 178px;
}

.r-side .maps-img {
	position: relative;
	display: block;
	height: 178px;
	width: 260px;
	overflow: hidden;
}

.r-side .maps-img a {
	white-space: nowrap;
}

.r-side .maps-img img {
	position: absolute;
	left: -132px;
	top: -91px;
	width: 525px;
	height: 360px;
}

.r-side .m-nearby h4 {
	position: absolute;
	right: 8px;
	bottom: 5px;
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

.r-side .maps-expand {
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 5;
	width: 525px;
	height: 360px;
	color: #643718;
	background-color: #000;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.r-side .op {
	opacity: 1
}

.maps-expand .mark,.maps-img .mark {
	position: absolute;
	z-index: 20;
	font-size: 22px;
	color: #643718;
	line-height: 30px;
}

.maps-expand .icon-a,.maps-expand .icon-b,.maps-img .icon-a,.maps-img .icon-b
	{
	float: left;
	width: 28px;
	height: 28px;
	background: url(/images/mdd/place/maps-icon.png) no-repeat 0 0;
	overflow: hidden;
}

.maps-expand .icon-a,.maps-img .icon-a {
	background-position: -32px 0;
}

.maps-expand .mark.small,.maps-img .mark.small {
	font-size: 16px;
}

.maps-expand .mark .removepos {
	position: absolute;
	left: 16px;
	top: -10px;
	font-size: 20px;
	display: block;
	width: 11px;
	height: 11px;
	line-height: 11px;
	display: none
}

.maps-expand .mark:hover .removepos {
	display: block
}

.maps-expand .mark .left {
	position: relative;
}

.maps-expand .mark .right {
	position: relative;
	left: 0;
	top: 0
}

.maps-expand .mark .top {
	position: relative;
}

.maps-expand .mark .bottom {
	position: relative;
}

.r-side .maps-expand h4 {
	font-size: 24px;
	color: #643718;
}

.r-side .maps-expand .close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 6;
	width: 28px;
	height: 28px;
	background: url(/images/mdd/place/maps-icon.png) no-repeat -63px 0;
	overflow: hidden;
	cursor: pointer;
}

/* feature */
.row-feature .col { /*float: left;*/
	width: 980px;
	margin: 0 48px 0 9px;
	height: 280px;
}

.row-feature .hd {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
}

.row-feature .hd a {
	padding-right: 20px;
	position: relative;
	display: inline-block;
}

.row-feature .hd i {
	position: absolute;
	right: 0;
	top: 6px;
	width: 13px;
	height: 13px;
	background: url(/images/mdd/place/place-sprite6.png) no-repeat -30px 0;
	overflow: hidden;
}

.a-link {
	display: inline-block;
	font-size: 14px;
	position: relative;
	padding-right: 15px;
	color: #ff7200 !important;
}

.icon-link {
	position: absolute;
	right: 0;
	top: 4px;
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(/images/mdd/place/place-sprite6.png) no-repeat -45px 0;
	overflow: hidden;
}

.row-feature .hd a:hover {
	color: #ff7200;
	text-decoration: none;
}

.row-feature .hd a:hover i {
	background-position: -45px 0;
}

.row-feature dl {
	margin-bottom: 15px;
	padding: 5px 0;
}

.row-feature dl:hover {
	padding: 5px;
	margin-left: -5px;
	margin-right: -5px;
	background-color: #fff;
}

.row-feature dt {
	height: 27px;
	margin-bottom: 4px;
	line-height: 27px;
	overflow: hidden;
}

.row-feature dd a {
	color: #666;
	text-decoration: none;
}

.row-feature .r-tit {
	font-size: 18px;
}

.row-feature .r-tit:hover {
	text-decoration: none
}

.row-feature .i-hotel1,.row-feature .i-hotel2,.row-feature .i-hotel3 {
	float: left;
	margin-right: 6px;
	width: 27px;
	height: 27px;
	background: url(/images/mdd/place/place-sprite6.png) no-repeat 0 0;
	overflow: hidden;
}

.row-feature .i-hotel2 {
	background-position: 0 -30px;
}

.row-feature .i-hotel3 {
	background-position: 0 -60px;
}

.row-feature .r-photo {
	padding: 4px;
	background-color: #fff;
	float: left;
	margin-right: 20px;
	border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;
}
.row-feature .r-photo img{
	webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.row-feature .r-photo img:hover{
	webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.row-feature .r-text {
	height: 185px;
	padding-top: 7px;
	font-size: 16px;
	line-height: 24px;
	overflow: auto;
	word-wrap: break-word;
	word-break: normal;
	padding:10px;
	box-sizing:border-box;
}

.row-feature .percent {
	font-size: 24px;
	color: #ff7200;
	font-weight: bold;
	vertical-align: text-top;
	position: relative;
	top: -2px;
	line-height: 24px;
}

.row-feature .r-text .num {
	font-size: 16px;
	color: #ff7200;
	font-weight: bold;
}

.row-feature .ft {
	padding-top: 10px;
	line-height: 20px;
	border-top: 1px dashed #c4c3c3;
	text-align: center;
}

.row-feature .No {
	margin-right: 5px;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
	color: #ff7200;
}

.row-feature .No em {
	font-size: 24px;
	font-style: normal;
}

.row-feature .r-num {
	float: right;
	font-size: 14px;
	color: #666;
}

.row-feature .user {
	float: left;
	padding: 0 0 0 36px;
	position: relative;
	color: #643718;
}

.download{
	text-align: center;
}
.download a{
	padding: 20px 100px;
    border: 1px solid #ddd;
    margin-top: 42px;
    display: inline-block;
    background-color: #f60;
    color: white;
    font-size: 14pt;
    border-radius: 5px;
}

.download a:hover{
    background-color: rgba(255, 102, 0, 0.55);
}