@charset "UTF-8";
/**
 * 
 * @authors shixu
 * @date    2015-9
 * @version 
 */
/* 头部透明样式 */
@charset "UTF-8"; 

body {
	font-size: 12px;
	font-family: Arial, "Lucida Grande", "Microsoft Yahei",
		"Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti;
	color: #666
}

html.hasFontSmoothing-false body {
	font-family: Arial, SimSun, "Lucida Grande", "Hiragino Sans GB",
		"Hiragino Sans GB W3", STHeiti
}

input,select,textarea,button {
	font-family: Arial, "Lucida Grande", "Microsoft Yahei",
		"Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti
}

body,p,div {
	margin: 0;
	padding: 0;
	word-break: break-all;
	word-wrap: break-word
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: 100%
}

ul,ol,li,dl,dd,dt {
	margin: 0;
	padding: 0;
	list-style: none
}

a {
	color: #ff9d00;
	text-decoration: none;
	cursor: pointer
}



td {
	font-size: 12px;
	color: #666
}

img {
	border: 0;
	vertical-align: middle
}

input {
	outline: 0
}

.line20 {
	line-height: 20px
}

.tdcenter {
	text-align: center
}

.hide {
	display: none
}

.clearbg {
	background: 0
}

.clear {
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

.clearfix:after,.wrapper:after,.article:after {
	content: '\20';
	clear: both;
	display: block
}

.clearfix,.wrapper,.article {
	*zoom: 1
}

.paginator {
	padding: 10px 10px 10px 10px;
	margin: 0;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #946400
}

.paginator a {
	border: #eda000 1px solid;
	padding: 2px 6px;
	background-color: #FFF;
	font-size: 11px;
	text-decoration: none;
	margin-left: 3px
}

.paginator .this-page {
	color: #946400;
	font-size: 11px;
	border: #eda000 1px solid;
	padding: 2px 6px;
	text-decoration: none
}

.paginator .break {
	border: medium none;
	padding: 2px 6px;
	border-top: 0;
	background-color: #fff;
	color: #946400;
	text-decoration: none;
	font-size: 11px
}




/* 大图 */
.place-focus {
	position: relative;
}

.show-banner {
	position: relative;
	width: 980px;
	*zoom: 1;
	overflow: hidden;
	margin: 0 auto;
	height: 400px;
}

.show-banner .show-info {
	position: absolute;
	right: 5%;
	top: 50%;
	margin-top: -100px;
	text-align: right;
	width: 205px;
	height: 205px;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	color: #fff;
	white-space: nowrap;
}

.show-banner .show-info a {
	color: #fff;
}

.show-banner .show-info a:hover {
	color: #ff9d00;
}

.show-banner .show-name {
	position: absolute;
	top: 30px;
	right: 175px;
	font-size: 20px;
	text-align: center;
}

.show-banner .show-name a {
	text-decoration: none;
}

.show-banner h2 {
	font-size: 50px;
	line-height: 50px;
}

.show-banner .show-info .location {
	position: absolute;
	top: 130px;
	right: 140px;
	font-size: 18px;
}

.show-banner .show-links {
	position: absolute;
	top: 170px;
	right: 58px;
	font-size: 24px;
}

/* 搜索 */
.place-search-panel {
	position: absolute;
	z-index: 2;
	left: 58%;
	top: 50%;
	margin: -71px 0 0 -500px;
	width: 400px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.41);
	border-radius: 3px;
}

.place-search-panel h2 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
	font-weight: normal;
	line-height: 1;
	font-family: "Microsoft Yahei";
}

.place-search-panel .searchbar {
	height: 46px;
}

.place-search-panel .search-input {
	float: left;
	width: 308px;
	height: 46px;
	margin: 0 6px 0 0;
	padding: 0 20px;
	background-color: #fff;
	border: 0 none;
	line-height: 46px;
	font-size: 16px;
	color: #666;
	border-radius: 3px;
}

.place-search-panel .search-button {
    width: 45px;
    height: 45px;
	cursor:pointer;
    border: 0px;
    color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
    background: url(../../../images/gonglve.png) -67px 45px no-repeat;
    background-position: 7px 7px;
    background-size: 240px 240px;
}


.place-search-panel .icon-search {
	display: inline-block;
	margin-top: 11px;
	width: 24px;
	height: 24px;
	background: url(http://images.mafengwo.net/images/header-sprites.png)
		no-repeat 0 -110px;
	overflow: hidden;
	vertical-align: top;
}

.place-search-hot {
	font-size: 14px;
	margin-top: 15px;
	line-height: 16px;
}

.place-search-hot a {
	margin-right: 10px;
	color: #fff;
	font-size:16px;
/* 	font-weight:bold; */
	transition: all 0.3s ease;
}
.place-search-hot a:hover{
	color:#ff6035;
}
.search-suggest-place .active,.search-suggest-place li:hover,.search-suggest-place .active b,.search-suggest-place li:hover b
	{
	color: #ff9d00;
}

.row {
	padding: 40px 0;
}

.row-bg {
	background-color: #fafafa;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

.row .r-title {
	margin-bottom: 35px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}

.row .r-title span {
	
	font-size: 26px;

	line-height: 45px;

}

.r-title .icon {
	top: 7px;
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
	background: transparent url("../../../images/main-icon.png") repeat scroll -10px 49px / 688% 147%;
}
.row .r-nav {
	text-align: center;
	height: 36px;
	width: 540px;
	margin: -10px auto 30px;
	border-bottom: 1px solid #e4e4e4;
	font-size: 18px;
	color: #333;
	line-height: 22px;
}

.row .r-nav li {
	height: 36px;
}

.row .r-nav li.nav1 {
	width: 540px;
}

.row .r-nav li.nav2 {
	float: left;
	width: 270px;
}

.row .r-nav li.nav3 {
	float: left;
	width: 180;
}

.row .r-nav a {
	display: block;
	height: 35px;
	color: #333;
}

.row .r-nav a:hover {
	text-decoration: none;
	color: #ff9d00;
}

.row .r-nav .r-nav-active a {
	border-bottom: 3px solid #ff9d00;
	margin-bottom: -1px;
	color: #ff9d00;
}

.btn-change {
	float: right;
	margin-top: -30px;
	font-size: 14px;
	color: #666;
	line-height: 20px;
}

.btn-change:hover {
	color: #666;
}

.btn-change i {
	float: left;
	margin: 2px 10px 0 0;
	width: 17px;
	height: 16px;
	background: url(/images/mdd/place/place-sprites2.png) no-repeat 0 -60px;
	overflow: hidden;
}

.row-line {
	height: 1px;
    background-color: #b76cc7;
    overflow: hidden;
    width: 81%;
    /* margin: 0 auto; */
    position: relative;
    top: -44px;
    left: 19%;
}

.discovery-tiles {
	position: relative;
	height: 585px;
	overflow: hidden;
}

.tiles-left {
	float: left;
	width: 610px;
	overflow: hidden;
}

.tiles-item {
	float: left;
	position: relative;
	display: inline;
	margin: 0 15px 15px 0;
	overflow: hidden;
}

.tiles-item a {
	display: block;
	color: #fff;
}

.tiles-item a:hover {
	text-decoration: none;
	color: #fff;
}

.tiles-item .title {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 12px 20px 0;
	height: 57px;
	line-height: 56px;
	font-size: 24px;
	font-weight: normal;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0,
		0, 0, 0) ), color-stop(50%, rgba(0, 0, 0, 0.2) ),
		color-stop(100%, rgba(0, 0, 0, 0.5) ) );
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.4) 100% );
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100% );
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100% );
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#99000000', GradientType=0 );
	-webkit-transition: opacity .5s ease 0s;
	transition: opacity .5s ease 0s;
}

.tiles-item .info {
	position: absolute;
	left: 0;
	top: 100%;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: table;
	font-size: 14px;
	line-height: 20px;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0) ), color-stop(50%, rgba(0, 0, 0, 0.3) ),
		color-stop(100%, rgba(0, 0, 0, 0.8) ) );
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 10px,
		rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100% );
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100% );
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100% );
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0,
		rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.8) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#99000000', GradientType=0 );
	-webkit-transition: top .5s ease 0s;
	transition: top .5s ease 0s;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.tiles-item .middle {
	display: table-cell;
	padding: 20px;
	vertical-align: middle;
}

.tiles-item h3 {
	margin-bottom: 5px;
	line-height: 30px;
	font-size: 24px;
	font-weight: normal;
}

.tiles-item p {
	margin-bottom: 15px;
}

.tiles-item a:hover .title {
	opacity: 0;
	display: none \9;
}

.tiles-item a:hover .info {
	top: 0;
}

.tiles-left .tiles-b {
	height: 290px;
	width: 595px;
}

.tiles-left .tiles-c2 {
	width: 290px;
	height: 280px;
}

.tiles-right {
	float: right;
	width: 370px;
}

.tiles-r3 {
	height: 185px;
}

.tiles-r2 {
	height: 285px;
}

.tiles-right .tiles-r2b {
	height: 290px;
}

.tiles-right .tiles-r2s {
	height: 280px;
}

.tiles-right .tiles-item {
	margin-right: 0;
}

.tiles-cl {
	float: left;
	width: 380px;
	overflow: hidden;
}

.tiles-cl .tiles-item {
	height: 585px;
}

.tiles-cm {
	float: left;
	width: 315px;
	overflow: hidden;
}

.tiles-cr {
	float: right;
	width: 305px;
	overflow: hidden;
}

.tiles-cr .tiles-item {
	margin-right: 0;
}

.row-list {
	margin-bottom: 50px;
}

.row-list:last-child {
	margin: 0;
}

.row-list .hd {
	margin-bottom: 25px;
	font-size: 18pt;
	line-height: 40px;
	font-weight: bold;
	font-family: "microsoft yahei"
}

.row-list .hd span {
	font-size: 14px;
	color: #a8a8a8;
}

.row-list .bd {
	overflow: hidden;
}

.row-list dl {
	margin-bottom: 50px;
}

.row-list dt {
	margin-bottom: 15px;
	font-size: 12pt;
	font-family:"microsoft yahei";
	line-height: 22px;
	font-weight:bold;
}

.row-list dd {
	margin-left: -22px;
}

.row-list ul {
	float: left;
	width: 282px;
	padding-left: 30px;
	display: inline;
	margin-left: 22px;
	line-height: 30px;
	font-size: 14px;
}


.row-list dd .link-hot {
	color: #ff6035;
	text-align: center;
	padding:3px 5px;
	text-decoration: none;
	 transition:all 0.2s ease;
}

.row-list dd .link-hot:hover {
	background-color: #ff6035;
	color: white;
}

.row-list dd .en {
	color: #a8a8a8;
	font-family: Arial;
	word-wrap: break-word;
	word-break: normal;
}

.row-list .letter {
	float: left;
	margin-left: -30px;
	width: 30px;
	overflow: hidden;
	padding: 0;
	display: inline;
	font-size: 20px;
	font-family: Centaur, Times New Roman;
	text-transform: uppercase;
}

    #theme-icon {
    background: transparent url("../../../images/main-icon.png") repeat scroll -55px 46px / 651% 134%;
}

.row-list #mdd-icon {
    background: transparent url("../../../images/main-icon.png") repeat scroll -173px 50px / 658% 142%;
}
.row-list .row-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.theme-type-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    /* left: -147px; */
}

.row-list .icon-label {
	position: absolute;
	margin: 8px 0 0 5px;
	*margin-top: 2px;
	width: 32px;
	height: 14px;
	background: url(/images/mdd/place/plaInd-sprite3.png) no-repeat -555px 0;
	overflow: hidden;
	font-size: 14px;
	color: #fff;
	font-style: italic;
	font-weight: bold;
	line-height: 100px;
	overflow: hidden;
	vertical-align: top;
}

.row-list .texas {
	background-color: #9f4d31;
	color: #fefefe;
	font-size: 12px;
	font-family: sans-serif, Verdana, "Microsoft Yahei", Helvetica, "微软雅黑",
		"宋体";
	margin-left: 40px;
	overflow: hidden;
	padding: 1px 3px;
	vertical-align: top;
	text-decoration: none
}

/* 国内列表 */
.bd-china .item {
	margin-bottom: 10px;
	padding-left: 150px;
	*zoom: 1;
}
.bd-china .item .theme-type-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top:0px;
}
.bd-china .item:after {
	content: '';
	display: block;
	clear: both;
	overflow: hidden;
}

.bd-china dt {
	    float: left;
    display: inline;
    margin: 0 35px 0 -90px;
}

.bd-china dt a {
	color: #666;
    font-size: 11pt;
    font-family: microsoft yahei;
    font-weight: bold;
}

.bd-china dd {
	margin-left: 0;
}

.bd-china ul {
	float: none;
	width: auto;
	display: block;
	margin: 0 -50px 0 0;
	padding: 0;
}

.bd-china ul li {
	float: left;
	display: inline;
	margin-right: 5px;

}

.bd-china ul a {
	white-space: nowrap;
}

.bd-china .icon-label {
	margin-left: 2px;
}
