body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

li {
	overflow: hidden
}

body {
	font-size: 12px;
	text-align: center
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: normal;
	font-weight: 400
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th {
	text-align: left
}

sup,sub {
	font-size: 100%;
	vertical-align: baseline
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none
}

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

code,kbd,samp,tt,input,button,textarea,select {
	font-size: 100%
}

:link,:visited,ins,a {
	text-decoration: none
}

:focus {
	outline: 0 none
}

button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner
	{
	border: none;
	padding: 0
}

* html,* html
body {
	background-attachment: fixed
}

body {
	background-color: #fff;
	font-size: 12px;
	line-height: 1.5;
	font-family: "Hiragino Sans GB", Tahoma, arial, å®‹ä½“, sans-serif;
	color: #404040;
	text-align: left
}

a {
	color: #404040
}
.start_end{
	background-color: #ff4c31;
	color:white;
}
.wrap {
	width: 1000px;
	margin: 0 auto
}

.pagination {
	clear: both;
	height: 40px;
	font-size: 12px;
	font-weight: 400;
	color: #404040;
	width: 800px;
	margin: 15px auto
}

.page-bottom {
	float: right
}

.pagination a,.page-prev,.page-cur,.page-start,.page-end,.page-break,.page-skip
	{
	float: left;
	
	margin: 0 3px
}

.pagination a,.page-prev,.page-start,.page-cur,.page-end,.page-skip {
	    height: 22px;
    padding: 2px 12px 0;
    line-height: 18px;
}

.page-start {
	width: auto
}
.next_prev:hover{
	background-color: #ececec;
}

.pagination
a {
	text-decoration: none !important
}

.pagination a:hover {
	
}

.page-start,.pagination .page-prev {
	border: 1px solid #c7e7ab
}

.page-cur {
	background-color: #c7e7ab
}

.page-break {
	padding: 0 4px
}

.icon {
	display: inline-block;
	overflow: hidden
}

.pagination
.icon {
	height: 10px;
	width: 9px;
	background:
		url(http://img1.tuniucdn.com/img/20130619/common/o_20x500.png)
		no-repeat
}

.page-start
.icon {
	margin-right: 3px;
	background-position: -8px -228px
}

.page-prev
.icon {
	margin-right: 3px;
	background-position: -8px -228px
}

.page-next
.icon {
	margin-left: 3px;
	background-position: -8px -288px
}

.page-end
.icon {
	margin-left: 3px;
	background-position: -8px -288px
}

.page-start,.page-end {
	color: #ddd;
	border-color: #ddd;
	cursor: default
}




.test {
    width: 670px
}

body {
    font-size: 12px;
    font-family: "Microsoft YaHei"
}

a, span {
    display: inline
}

input, button {
    outline: 0 none
}

.clearfix {
    zoom: 1
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

.qa-icon {
    background: url(../images/qaicon.png) no-repeat
}

.moudle-list {
    width: 100%;
    position: relative
}

.moudle-delist {
    width: 100%;
    position: relative
}

.moudle-serlist {
    width: 100%;
    position: relative
}

.moudle-serlist .moudle-bewrite {
    min-height: 45px
}

.moudle-content {
    padding: 20px 20px 0 10px;
    margin: 0 auto;
    position: relative
}

.moudle-border {
    width: 100%;
    height: 10px;
    border-bottom: 1px dashed #ededed
}

.moudle-portrait {
    width: 78px;
    height: 96px;
    position: absolute;
    top: 20px;
    left: 10px
}

.moudle-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto
}

.moudle-photo a
img {
    width: 60px;
    height: 60px
}

.moudle-user-name {
    width: 74px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #666;
    white-space: nowrap
}

.moudle-user-name a:hover {
    color: red
}

.moudle-level {
    width: 78px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffac4c;
    font-weight: bold
}

.moudle-details {
    margin-left: 10px;
    margin-top: -5px
}

.moudle-title {
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    text-align: left
}

.moudle-details
h1 {
    font-weight: normal;
    display: inline;
    font-size: 16px
}

.moudle-title
a {
    color: #333;
    font-size: 16px
}

.moudle-title .moudle-operate
a {
    font-size: 12px
}

.moudle-title a.qa-cityname {
    color: #ff6b3d
}

.moudle-title h1 a:hover {
    color: red;
    text-decoration: underline
}

.moudle-title a:hover {
    color: red;
    text-decoration: underline
}

.moudle-title-icon {
    width: 50px;
    height: auto;
    padding-left: 20px;
    color: #e67900;
    font-size: 15px;
    font-family: Arial;
    padding-right: 20px;
    overflow: hidden
}

.moudle-bewrite {
    font-size: 14px;
    color: #666;
    text-align: left;
    line-height: 22px;
    padding-top: 16px;
    table-layout: fixed;
    word-break: break-all
}

.moudle-tag {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 16px;
    font-size: 0
}

.moudle-tag
a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    margin-right: 15px;
    background: #f5f5f5;
    font-family: "ËÎÌå";
    color: #999;
    font-size: 12px;
    vertical-align: top
}

.moudle-tag
a.detailslink {
    background: #ffc181;
    color: #fff
}

.moudle-datetime {
    color: #999;
    font-size: 14px;
    padding-left: 20px;
    font-family: Arial
}

.moudle-address {
    color: #39b308;
    margin-top: 8px;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
    display: none;
    cursor: default;
    background-position: 1px -362px
}

.moudle-address
a {
    color: #39b308
}

.moudle-address a:hover {
    color: #39b308;
    text-decoration: underline
}

.moudle-bottom {
    width: 100%;
    color: #999;
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    font-size: 0;
    position: relative
}

.qa-accepted {
    position: absolute;
    bottom: 0;
    left: 275px;
    z-index: 2;
    width: 66px;
    height: 38px;
    display: block;
    background-position: -67px -3px;
    font-size: 20px
}

.moudle-operate {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 30px;
    padding-left: 20px;
    color: #999;
    cursor: pointer;
    font-size: 12px
}

.moudle-share {
    background-position: 1px -198px;
    display: none;
    position: relative;
    z-index: 3
}

.moudle-report {
    background-position: -1px -221px;
    margin-left: 30px;
    display: none
}

.moudle-bottom-right {
    text-align: right;
    float: right
}

.moudle-right-list {
    color: #999;
    font-size: 12px;
    padding-right: 20px
}

.list-hover {
    background: #fff8e6;
    z-index: 2
}

.list-hover .moudle-tag {
    margin-top: 10px
}

.list-hover .moudle-tag
a {
    background: #ffc181;
    color: #fff
}

.list-hover .moudle-address {
    display: block
}

.list-hover .moudle-share, .list-hover .moudle-report {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.detail-hover {
    background: #fff;
    z-index: 2
}



.qa-star {
    display: inline-block;
    height: 12px
}

.hot-hotel-list-r {
    float: right;
    text-align: right;
    padding-right: 10px
}

.hot-hotel-list-r
span {
    color: #999;
    margin-right: 10px
}

.hot-hotel-list-r
em {
    color: #f80
}

.new-qa-list-r {
    float: right;
    text-align: right;
    padding-right: 10px;
    color: #999
}

.qa-star-5 {
    width: 61px;
    display: inline-block;
    height: 12px
}

.qa-star-4 {
    width: 50px;
    display: inline-block;
    height: 12px
}

.qa-star-3 {
    width: 37px;
    display: inline-block;
    height: 12px
}

.qa-star-2 {
    width: 25px;
    display: inline-block;
    height: 12px
}

.qa-star-1 {
    width: 13px;
    display: inline-block;
    height: 12px
}

.qa-wraper {
    width: 100%;
    display: block;
    
}



.qa-wrap {
    width: 980px;
    margin: 0 auto;
    min-height:400px;
    *+height:100%;
    _height:400px;
}

.qa-wrap-list {
    width: 980px;
    height: auto;
}

.qa-search {
    width: 100%;
    height: 34px;
    margin-top: 30px;
    position: relative
}

.search-second {
    display: none
}

.qa-search-input {
    width: 400px;
    height: 35px;
    line-height: 32px;
    padding-left: 10px;
    color: #bbb;
    font-size: 14px;
    border: 1px solid #d4d4d4;
    margin-right: 5px;
    background: #fff;
       
}

.qa-search-holder {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    background: #fff
}

.qa-search-button {
    width: 75px;
    height: 37px;
    line-height: 37px;
    background: #ff6b3d;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 0 none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 515px
}
.qa-search-button:hover{
    background-color: rgba(255, 107, 61, 0.66);
}
.qa-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    background-position: 0 1px
}

.qa-arrow-open {
    background-position: 0 -16px;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px
}

.qa-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 12px;
    right: 174px;
    z-index: 5;
    background-position: 0px 1px
}

.qa-arrow-open {
    background-position: 0px -16px;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 13px;
    right: 174px;
    z-index: 5
}

.arrow-question {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 13px;
    left: 178px;
    background-position: 0 1px
}

.arrow-question-open {
    background-position: 0 -16px;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 12px;
    left: 178px
}

.qacate {
    position: absolute;
    top: 0;
    left: 411px;
    cursor: pointer
}

.qa-hot {
    margin-top: 8px
}

.qa-hot
h2 {
    font-size: 22px;
    color: #333
}

.qa-hot .moudle-public-title {
    border-bottom: 3px solid red;
    padding: 15px 0 5px 10px
}

.qa-hot .moudle-public-main {
    padding: 0
}

.qa-hot-list {
    width: 100%;
    height: 286px;
    background: #fff
}

.qa-hot-list
ul {
    padding: 18px 18px 0 18px
}

.qa-hot-list ul
li {
    width: 100%;
    font-size: 0;
    border-bottom: 1px solid #ededed
}

.qa-hot-list .qa-line {
    font-weight: bold;
    color: red;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 45px;
    line-height: 45px
}

.qa-hot-list
.qaicon {
    display: none
}

.qa-hot-list .qa-title {
    color: #333;
    font-size: 0;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap
}

.qa-title
a {
    font-size: 16px
}

.qa-hot-list .qa-title
a.qa_cityname {
    font-size: 16px;
    color: #ff9419;
}

.qa-hot-list .qa-title a.qa_cityname:hover {
    font-size: 16px;
    color: #ff9419;
    text-decoration: underline
}

.qa-hot-list .qa-title
a.qa_citytitle {
    font-size: 16px;
    color: #333
}

.qa-hot-list .qa-title a.qa_citytitle:hover {
    font-size: 16px;
    color: #ff9419;
    text-decoration: underline
}

.qa-hot-list .qa-list-p {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    height: 45px;
    overflow: hidden;
    padding-left: 5px;
    width: 620px
}

.qa-hot-list .qa-depict {
    color: #666;
    font-size: 14px;
    display: none;
    line-height: 24px;
    height: 24px
}

.qa-hot-list ul li.hot-hover {
    font-size: 0
}

.qa-hot-list .hot-hover
.qaicon {
    width: 30px;
    height: 65px;
    background-position: -70px -69px;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.qa-hot-list .hot-hover .qa-line {
    display: none
}

.qa-hot-list .hot-hover .qa-title {
    color: red;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 5px;
    line-height: 26px;
    height: 26px
}

.qa-hot-list .hot-hover .qa-title
a.qa_cityname {
    height: 28px;
    line-height: 28px
}

.qa-hot-list .hot-hover .qa-title
a.qa_citytitle {
    height: 28px;
    line-height: 28px;
    width: 540px
}

.qa-hot-list .hot-hover .qa-list-p {
    height: 65px;
    width: 598px
}

.qa-hot-list .hot-hover .qa-title
a {
    color: red
}

.qa-hot-list .hot-hover .qa-title a:hover {
    color: red;
    text-decoration: underline
}

.qa-hot-list .hot-hover .qa-depict {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 26px;
    height: 26px;
    padding-left: 5px
}

.qa-main {
    width: 100%;
    height: auto;
    margin: 50px 0 0;
    background: #fff
}

.qa-main-tab {
    width: 100%;
    height: 39px;
    background: #f7f7f7;
}

.qa-main-tab
a {
    display: block;
    width: auto;
    font-size: 16px;
    height: 37px;
    line-height: 37px
}

.qa-tab {
    color: #333;
    float: left;
    cursor: pointer;
    padding: 0 8px 0 10px
}

.qa-cate
a {
    font-size: 16px
}

.qa-main-tab a
span {
    color: #999;
    padding: 0 3px
}

.qa-secant {
    padding: 0;
    float: left;
    color: #dadada
}

.tab-select {
    background: #fff;
    border-top: 2px solid #ff6b3d;
    border-bottom: 1px solid #fff
}
