@charset "utf-8";
/* CSS Document */

/*麵包屑  */
#header {
	margin-bottom: 0;
}

.crumb .item a {
	color: #666;
	font-size: 12px;
}

.crumb {
	width: 980px;
	font: 12px Arial, "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", Tahoma,
		Helvetica, STHeiti, "Hiragino Sans GB";
	height: 20px;
	padding: 15px 0;
	color: #666;
	line-height: 20px;
	margin: 0 auto;
}

#breadcrumbs-four {
	overflow: hidden;
	width: 100%;
	
}

#breadcrumbs-four li {
	float: left;
	margin: 0 .5em 0 1em;
}

#breadcrumbs-four a {
	padding: 4px;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	
}

#breadcrumbs-four a:hover{
	color:red;
}

#breadcrumbs-four .current,#breadcrumbs-four .current:hover {
	font-weight: bold;
	background: none;
	color:red;
}

#breadcrumbs-four .current::after,#breadcrumbs-four .current::before {
	content: normal;
}
/* 麵包屑 結束 */
@charset "UTF-8";
body {
    font-size: 12px;
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
    color: #666
}

html.hasFontSmoothing-false body {
    font-family: Arial, SimSun, "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti
}

input, select, textarea, button {
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti
}

body, p, div {
    margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%
}

ul, ol, li, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none
}

td {
    font-size: 12px;
    color: #666
}

img {
    border: 0;
    vertical-align: middle
}

input {
    outline: 0
}

a {
    text-decoration: none;
    cursor: pointer
}

dl, dt, dd, form {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

h1, h2, h3 {
    font-weight: normal;
}

ul, li {
    list-style: none;
}

img {
    border: 0 none;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.clearfix:after, .list_word .item dd:after, .info_bd:after {
    content: '\20';
    clear: both;
    display: block;
}

.clearfix, .list_word .item dd, .info_bd {
    *zoom: 1;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.Header {
    margin-bottom: 15px;
}

.wrapper {
    width: 980px;
    margin: 15px auto 0;
}

.gonglve_wrap {
    padding-bottom: 10px;
}

.focus {
    height: 340px;
    margin: 10px 0 15px;
}

.focus .slide {
    width: 700px;
    float: right;
    height: 340px;
    overflow: hidden;
    position: relative;
}

.focus .slide ul {
    width: 9999px;
    position: absolute;
    left: 0;
    top: 0;
}

.focus .slide ul li {
    float: left;
    width: 700px;
    height: 340px;
    overflow: hidden;
}

.focus .slide ol {
    position: absolute;
    right: 30px;
    bottom: 24px;
}

.focus .slide ol li {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background: url("/images/gonglve/scroll_s.png") center 5px no-repeat;
    text-indent: -10000px;
    overflow: hidden;
    cursor: pointer;
}

.focus .slide ol li.on {
    background: url("/images/gonglve/scroll_b.png") 0px 0px no-repeat;
}

.da980 {
    position: relative;
}

.da980 .da-flip {
    width: 980px;
    height: 365px;
    position: absolute;
    top: -365px;
    left: 0;
    z-index: 99;
    display: none;
}

.da980:hover .da-flip {
    display: block;
}

/* mdd nav s */
.mdd_nav {
    float: left;
    width: 260px;
}

.mdd_nav .inner {
    position: relative;
    zoom: 1;
    z-index: 10;
    border-top: 1px #ddd solid;
}

.mdd_nav dl {
    height: 40px;
    border: 1px solid #ddd;
    border-top: 0 none;
    font-size: 14px;
}

.mdd_nav dl.hover {
    border-top: 1px solid #ff3845;
    margin-top: -1px;
    border-color: #ff3845;
}

.mdd_nav dl.hover dt {
    background: #fff url(/images/gonglve/dt_bg.gif) no-repeat 0 -41px;
    width: 239px;
    z-index: 100;
    width: 249px;
    margin-right: -1px;
    color: #ff3845;
}

.mdd_nav dl.hover dd {
    display: block;
}

.mdd_nav dt {
    position: relative;
    width: 248px;
    height: 40px;
    background: url(/images/gonglve/dt_bg.gif) no-repeat 0 0px;
    color: #666;
    line-height: 39px;
    cursor: pointer;
    font-size: 14px;
    color: #414141;
    overflow: hidden;
}

.mdd_nav dt strong {
    float: left;
    padding-left: 15px;
    font-weight: normal;
}

.mdd_nav dt .new {
    float: left;
    margin: 7px 0 0 5px;
    width: 22px;
    height: 12px;
    background: url(/images/gonglve/bn_new.gif) no-repeat;
    line-height: 0;
    overflow: hidden;
}

.mdd_nav dd li {
    height: 25px;
    margin-right: 7px;
    overflow: hidden;
}

.mdd_nav dd.list2 {
    width: 450px;
}

.mdd_nav dd a {
    color: #666;
}

.mdd_nav dd .bk_down {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: url(/images/gonglve/book_sprites.gif) no-repeat -34px 0;
    vertical-align: middle;
    line-height: 200px;
    overflow: hidden;
}

.mdd_nav dd p a {
    display: inline-block;
    width: 195px;
    color: #666;
    font-size: 14px;
}

.mdd_nav dd p a:hover {
    color: #9B5128;
}

.mdd_nav dd.short p a {
    width: 95px;
}

.mdd_nav dd em {
    font-size: 12px;
    font-style: normal;
}

.mdd_nav dd .extra {
    margin-top: 5px;
    padding: 5px 0;
    border-top: 1px dashed #dbdbdb;
    text-align: center;
}

.mdd_nav dd .extra a {
    color: #ff3845;
}

.mdd_nav dd {
    background-color: #FFFFFF;
    border: 1px solid #ff3845;
    display: none;
    left: 248px;
    line-height: 25px;
    padding: 5px 15px 7px;
    position: absolute;
    top: -1px;
    width: 400px;
    z-index: 98;
}

.mdd_nav dd.new_nav strong {
    border-right: 1px solid #CBCBCB;
    color: #666666;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 5px 10px 0 0;
    padding-right: 5px;
    text-align: right;
    width: 65px;
}

.mdd_nav dd.new_nav p {
    float: left;
    line-height: 25px;
    width: 400px;
    margin-left: 30px;
    display: inline;
}

.mdd_nav dd.new_nav p a {
    display: inline-block;
    margin-right: 5px;
    width: auto;
    font-size: 12px;
}

.mdd_nav dd.new_nav {
    font-size: 12px;
    padding: 5px 0px 11px 0px;
    width: 500px;
}

.zhuti_title {
    margin: 10px 0px;
}

.zhuti_title h3 {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 16px;
    margin-left: 30px;
    margin-top: 2px;
    display: inline;
    _line-height: 18px;
}

/* 攻略专题 zhoushengxue 3013-04-09-8 */
.gonglve-nav {
    border: 1px solid #ddd;
    border-bottom: 0;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.gonglve-nav .nav-title {
    height: 40px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    cursor: default;
    position: relative;
    z-index: 2;
}

.gonglve-nav .nav-title .theme_icon{
    width:35px;
    height:35px;
    display: inline-block;
}
.gonglve-nav .nav-title .gn-arrow {
    position: absolute;
    right: 15px;
    top: 25px;
    width: 5px;
    height: 9px;
    background: url(../images/gonglve-nav.gif) no-repeat 0 0;
    overflow: hidden;
}

.gonglve-nav .hover .nav-title {
    margin-right: -1px;
    color: #ff6b3d;
    transition:all 0.3s ease;
}
.nav-title:hover   .nav-panel{
	display: block;
}

.nav-title:hover{
	box-shadow:0 0 8px #ddd;
}


.gonglve-nav .hover .nav-title .gn-arrow {
    background-position: -5px 0;
}

.gonglve-nav .nav-panel {
    position: absolute;
    left: 258px;
    top: -1px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: none;
}

.gonglve-nav .hover .nav-panel {
    display: block;
}

.gonglve-nav .nav-panel a {
    color: #999;
}

.gonglve-nav .nav-panel a:hover {
    color: #ff3845;
}

/* .gonglve-nav .rank-panel {
    width: 400px;
    height: 340px;
    border: 0;
    _overflow: hidden;
    opacity:1;
} */

.gonglve-nav .rank-panel ol {
    position: absolute;
    z-index: 2;
    padding: 15px 10px;
    width: 260px;
    line-height: 30px;
    background-color: white;
    min-height: 275px;
}

.gonglve-nav .rank-panel li {
    height: 30px;
    overflow: hidden;
}

.gonglve-nav .rank-panel .rank-num {
    float: left;
    width: 30px;
    font-size: 20px;
    font-family: Letter Gothic Std, Verdana, Geneva, sans-serif;
    text-align: right;
    color: #aaa;
    font-weight: bold;
}

.gonglve-nav .rank-panel .top3 .rank-num, .gonglve-nav .rank-panel .top3 strong a {
    color: #ff6b3d;
}

.gonglve-nav .rank-panel strong {
    padding: 0 15px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}

.gonglve-nav .rank-panel strong a {
    color: #666;
}

/* .gonglve-nav .nav-banner {
    position: absolute;
    _top: 1px;
    z-index: 1;
    width: 506px;
    height: auto;
    opacity:0.5;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: white;
    border:1px solid #ddd;
    border-left:0;
} */

.gonglve-nav .nav-banner a {
    display: block;
    width: 235px;
    height: 340px;
    float: right;
    margin-right: 7px;
}

.gonglve-nav .nav-banner a:focus {
    outline: none;
}

.gonglve-nav .category-panel {
    width: 498px;
    padding: 10px 0;
    left: 258px;
}

.category-panel dl {
    margin: 0 0 0 20px;
    padding-left: 60px;
    border: 0;
    font-size: 12px;
    width: auto;
    height: auto;
    line-height: 20px;
}

.category-panel dt {
    float: left;
    display: inline;
    width: 60px;
    height: 20px;
    background: none;
    margin: 5px 0 5px -60px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
    font-size: 12px;
    cursor: default;
    color: #666;
    font-weight: bold;
}

.gonglve-nav .category-panel dt a {
    color: #666;
}

.category-panel dd {
    display: inline;
    position: static;
    border: 0;
    width: auto;
    padding: 0;
    float: left;
    margin: 5px 15px 5px 0;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}

.input_like {
    border: 2px #E4DDDD solid;
    height: 40px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}


.input_like .sub-btn {
    float: left;
    height: 40px;
    width: 40px;
    background: rgb(228, 221, 221);
    margin-top: 0px;
    margin-left: 2px;
    line-height: 35px;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    font-size: 15px;
    transition: all 0.3s ease;
    background: url(../images/gonglve.png) -88px 0px no-repeat;
    background-position: 9px 7px;
}
.input_like .sub-btn:hover{
	cursor: pointer;
}
.input_like input {
    height: 30px;
    line-height: 30px;
    float: left;
    width: 206px;
    padding: 3px 0px;
    border: 0px;
    font-size: 12px;
    color: #888888;
    margin-left: 8px;
    margin-top: 2px;
    outline: none;
    font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
}

.search_resu {
    border: 1px #ff3845 solid;
    width: 518px;
    position: absolute;
    z-index: 50;
    top: 41px;
    left: -2px;
    background: #fff;
    padding-bottom: 30px;
    display: none;
}

.search_resu ul {
    padding-top: 10px;
}

.search_resu ul li {
    width: 130px;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 16px;
    display: inline;
    overflow: hidden;
}

.search_resu ul li strong {
    font-size: 16px;
}

.search_resu ul li a {
    color: #ff3845;
}

.search_resu ul li em {
    font-style: normal;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.search_resu ul li a:hover {
    text-decoration: none;
}

.app_d {
    border-bottom: 1px #E3E3E3 solid;
    height: 50px;
    overflow: hidden;
    padding-bottom: 14px;
    margin-top: 15px;
}

.app_d h3 {
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.domn_in {
    float: left;
    width: 180px;
    margin-left: 18px;
    display: inline;
}

.domn_in h4 {
    font-size: 16px;
    color: #414141;
    line-height: 18px;
    font-weight: normal;
    margin-top: 5px;
}

.domn_in p {
    margin-top: 8px;
}

.domn_in p a {
    float: left;
    color: #666;
    line-height: 14px;
}

.domn_in p span {
    float: left;
    color: #D8D8D8;
    height: 12px;
    width: 2px;
    line-height: 14px;
    padding: 0px 5px;
    overflow: hidden;
}

.domn_in p a:hover {
    color: #ff3845;
}

.gl_nav {
    line-height: 16px;
    color: #666666;
    margin-top: 35px;
    margin-bottom: 15px;
}

.gl_nav a {
    float: left;
    font-size: 16px;
    color: #ff3845;
}

.gl_nav span {
    float: left;
    font-size: 18px;
    margin-left: 12px;
}

.gl_nav strong {
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin-left: 12px;
}

.gl_wrap {
    border-bottom: 1px #E3E3E3 solid;
    width: 980px;
    padding-bottom: 8px;
    margin-top: 5px;
    overflow: hidden;
}

.gl_wrap h3 {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 16px;
    margin-top: 7px;
}

.gl_wrap h3 a {
    color: #333;
}

.gl_wrap h3 a:hover {
    color: #ff3845;
}

.gl_wrap ol {
    float: left;
    width: 790px;
    margin-left: 8px;
    height: 28px;
    display: inline;
    overflow: hidden;
}

.gl_wrap ol li {
    float: left;
    height: 22px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline;
    white-space: nowrap;
}

.gl_wrap ol li a {
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    color: #666;
    padding: 0px 8px;
}

.gl_wrap ol li a:hover {
    color: #fff;
    background: #ff3845;
    text-decoration: none;
}

.gl_wrap ol li .youth {
    color: #ff3845;
}

.gl_wrap ol li .youth:hover {
    background: #ff3845;
    color: #fff;
}

.gl_wrap ol li a.onfs {
    color: #fff;
    background: #ff3845;
}

.gl_wrap span {
    float: left;
    width: 42px;
    height: 16px;
    margin-left: 10px;
    margin-top: 7px;
}

.gl_wrap span a {
    display: block;
    width: 42px;
    height: 16px;
    background: url("/images/gonglve/ms.png") 0px 0px no-repeat;
    text-indent: -10000px;
    overflow: hidden;
}

.gl_wrap span a:hover {
    background: url("/images/gonglve/ms.png") -43px 0px no-repeat;
}

.gl_wrap span a.sp_toggle {
    background: url("/images/gonglve/ms.png") 0px -17px no-repeat;
}

.gl_wrap span a.sp_toggle:hover {
    background: url("/images/gonglve/ms.png") -43px -17px no-repeat;
}

.gl_wrap1 ol {
    height: auto;
    overflow: visible;
}

.gl_wrap.sub {
    width: auto;
    padding: 5px 0 8px 58px;
    margin-top: 0;
    background-color: #f3f3f3;
}

.p_upw {
    margin-top: 30px;
}

.uptime_p {
    float: left;
    margin-top: 5px;
    _width: 200px;
}
.uptime_p .active,.uptime_p a:hover{
    color:#ff6b3d;
}
.uptime_p a {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 18px;
    padding: 4px;
    font-weight: bold;
    font-family:"microsoft yahei light";
    transition:all 0.2s ease;
}


.uptime_p span {
    float: left;
    color: #D8D8D8;
    padding: 5px 12px;
}

.uptime_p a.upt_on {
    color: #ff3845;
    border-bottom: 2px #ff3246 solid;
}

.gl_fw {

    width: 980px;
    overflow: hidden;
    padding-bottom: 25px;
    margin-top: 25px;
}

.gl_cw {
    width: 1020px;
}

.gl_list {
    width: 130px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;


}
.gl_list a{
    transition: all,0.2s,ease;
}
/*.gl_list a:hover {*/
    /*-moz-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.28);*/
    /*-webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.28);*/
    /*box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.28);*/
    /*margin-top: -5px;*/
/*}*/

.gl_list a {
    display: block;
    height: 184px;
    width: 130px;
    overflow: hidden;
}

.gl_list .icon-new {
    position: absolute;
    margin: -4px 0 0 82px;
    width: 53px;
    height: 53px;
    background: url() no-repeat;
    overflow: hidden;
}

.down_cout {
    height: 24px;
    width: 130px;
    background: #EBEBEB;
    border-radius: 30px;
    margin-top: 5px;
    position: relative;
}

.down_cout span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background: url(../images/gonglve.png) -88px 0px no-repeat;
}

.down_cout p {
    line-height: 24px;
    color: #666;
    padding-left: 45px;
    font-size:15px;
}

.paginator_video {
    margin-top: 20px;
}



.mdd_img {
    float: left;
    height: 325px;
    width: 230px;
    margin-top: 10px;
    overflow: hidden;
}
.mdd_img img{
    width: inherit;
    height: inherit;
}


.middle_de {
    width: 512px;
    float: left;
    margin-left: 30px;
    display: inline;
}

.middle_de h1 {
    font-size: 28px;
    font-weight: normal;
    color: #444444;
    line-height: 30px;
    margin-top: 6px;
}

.gl_title {
    margin-top: 8px;
}

.gl_title span {
    float: left;
    font-size: 16px;
    color: #666;
    line-height: 18px;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 10px;
}

.jianjie {
    width: 512px;
    background: #F3F3F3;
    padding: 14px 0px;
    margin-top: 15px;
    height:250px;
}

.jianjie p {
    line-height: 24px;
    width: 468px;
    margin: 0px auto;
    color: #666;
}

.jianjie p strong {
    color: #444444;
}

.th_f {
    margin-top: 10px;
}

.th_f p {
    color: #666;
    line-height: 26px;
}



.down_glb {
    margin-top: 40px;
    float: right;
    width: 170px;
}

.down_glb h2 {
    font-size: 22px;
    font-weight: normal;
    color: #666;
    line-height: 22px;
    margin-top: 48px;
}

.down_glb h2 span {
    font-size: 12px;
}

.down_p {
    margin-top: 15px;
}

.down_p a {
    display: block;
    height: 58px;
    width: 170px;
    background: #f60;
    font-size: 20px;
    color: white;
    line-height: 58px;
    text-align: center;
    border-radius: 5px;
    transition:all 0.3s ease;
}

.down_p p {
    text-align: center;
    color: #666;
    line-height: 14px;
    margin-top: 12px;
}

.down_p a:hover {
    text-decoration: none;
    background: rgba(255, 102, 0, 0.57);
    _color: #fff;
}

.down_p1 {
    margin-top: 20px;
}

.down_p1 a {
    background: #54B4E6;
}

.down_p1 a:hover {
    background: #6FBEEA;
    _color: #fff;
}

.up_time {
    height: 28px;
    width: 170px;
    background: #F1F1F1;
    margin-top: 30px;
    border-radius: 30px;
}

.up_time p {
    line-height: 28px;
    color: #666;
    text-align: center;
}

.box_wrap {
    width: 980px;
    margin-top: 40px;
}



.gl_l {
    width: 302px;
    float: left;
    margin-top: 30px;
    padding-bottom: 20px;
}

.gl_l img {
    vertical-align: inherit;
}

.gl_r {
    width: 640px;
    float: right;
    margin-top: 30px;
    height:300px;
}

.mdd_zj {
    width: 300px;
    background: #F3F3F3;
    padding-bottom: 22px;
}

.mdd_zj h1 {
    border-bottom: 1px #E3E3E3 solid;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    width: 270px;
    padding: 10px 0px;
    margin: 0px auto;
}

.mdd_m {
    margin-top: 22px;
}

.mdd_m h2 {
    float: left;
    height: 90px;
    width: 140px;
    margin-left: 15px;
    display: inline;
    overflow: hidden;
}

.mdd_m dl {
    width: 115px;
    float: left;
    margin-left: 15px;
    display: inline;
}

.mdd_m dl dt {
    font-size: 22px;
    color: #666;
    line-height: 24px;
    height: 24px;
    width: 115px;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 15px;
}

.mdd_m dl dt a{
	color:#f60;
}

.mdd_m dl dd {
    line-height: 14px;
    margin-top: 6px;
}

.mdd_m dl dd a {
    color: #ff3845;
}

.just_down {
    margin-top: 40px;
}

.just_down h2 {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    line-height: 16px;
}

.just_down ul {
    float: left;
    margin-top: 10px;
}

.just_down ul li {
    width: 136px;
    height: 20px;
    float: left;
    margin-right: 8px;
    margin-top: 10px;
    display: inline;
    overflow: hidden;
}

.just_down ul li h3 {
    float: left;
    border: 1px #BEBEBE solid;
    height: 18px;
    width: 18px;
}

.just_down ul li h3 a {
    height: 16px;
    width: 16px;
    display: block;
    overflow: hidden;
    margin-left: 1px;
    margin-top: 1px;
}

.just_down ul li p {
    float: left;
    margin-left: 4px;
    display: inline;
    line-height: 21px;
}

.just_down ul li p a {
    color: #ff3845;
}

.just_down ul li span {
    float: left;
    color: #666;
    margin-left: 4px;
    line-height: 21px;
}

.ff_menu {
    width: 302px;
    margin-top: 8px;
    overflow: hidden;
}

.ff_w {
    width: 350px;
}

.ff_menu a {
    border: 1px #BEBEBE solid;
    float: left;
    height: 18px;
    width: 18px;
    margin-right: 8px;
    margin-top: 12px;
    overflow: hidden;
}

.ff_menu a img {
    margin-left: 1px;
    margin-top: 1px;
}

.ff_menu a:hover {
    border: 1px #ff3845 solid;
}

.guess_like {
    margin-top: -2px;
}

.guess_like h2 {
    float: left;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    _line-height: 20px;
}

.guess_like a {
    float: right;
    color: #ff3845;
    line-height: 14px;
    margin-top: 2px;
    margin-right: 5px;
}

.gl_fw1 {
    width: 640px;
    border-bottom: 1px #E3E3E3 solid;
}

.gl_cw1 {
    width: 680px;
}


/* 攻略下载 */
.popup_ask {
    width: 686px;
    margin: -200px 0 0 -343px;
}

.popup_ask dt {
    width: 646px;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #3f200f;
    border-bottom: 1px solid #ddd;
}

.popup_ask dd {
    text-align: left;
    color: #666;
}

.popup_ask .pa_earth {
    height: 60px;
    padding: 30px;
    background: url(/images/gonglve/a_earth.gif) no-repeat 500px bottom;
}

.pa_try {
    font-size: 20px;
    margin-bottom: 6px;
}

.popup_ask dd a {
    color: #666;
}

.popup_ask dd a:hover {
    text-decoration: none;
}

.popup_ask dd ul {
    border-top: dashed 1px #dcdcdc;
}

.popup_ask dd ul li {
    border-bottom: dashed 1px #dcdcdc;
    overflow: hidden;
    *zoom: 1;
}

.popup_ask dd ul li.on a {
    background-color: #f6f6f6;
}

.popup_ask dd ul li a {
    display: block;
    padding: 13px 0;
    overflow: hidden;
    *zoom: 1;
}

.popup_ask dd .i_tj_tit {
    border-left: solid 2px #ff3845;
    padding-left: 7px;
    line-height: 14px;
    height: 14px;
    margin-left: 30px;
    font-size: 14px;
    color: #666;
}

.popup_ask dd .i_tj_js {
    position: relative;
    display: none;
    margin: 0 10px;
}

.popup_ask dd .i_tj_js dt {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    padding: 0;
    margin: 0;
    background-color: #ffdfa2;
    text-align: center;
    border-radius: 5px;
    font-size: 0;
}

.popup_ask dd .i_tj_js dt strong {
    color: #ff7200;
    display: block;
    font-size: 14px;
    margin: 6px 0 4px 0;
    line-height: 14px;
}

.popup_ask dd .i_tj_js dt span {
    color: #b1894a;
    font-size: 12px;
    line-height: 12px;
}

.popup_ask dd .i_tj_js dd {
    padding-left: 52px;
}

.popup_ask dd .i_tj_js dd p {
    color: #ff3845;
    font-size: 16px;
    line-height: 20px;
}

.popup_ask dd .i_tj_js dd .i_tj_con {
    font-size: 12px;
    line-height: 12px;
    margin-top: 7px;
}


/* 更新时间 2014-3-19 by old bin */
.update_time {
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
}



/* 攻略文件预览部分start */
.preview {
	margin: 10px auto;
	width: 980px;
	height: 200px;
	overflow: hidden
}

.preview ul {
	width: 20000px;
	height: inherit;
	background-color: #F3F3F3;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.preview ul li {
	width: 125px;
	height: 160px;
	float: left;
	background-color: white;
	margin: 0 31px;
	-moz-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	transform: translated3d(0px, -2px, 0px);
}

.preview ul li:hover {
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.28);
	margin-bottom: 5px;
	position: relative;
	margin-top: -5px;
}

.preview ul li:hover  .preview_btn {
	display: block;
}

.preview ul li img {
	width: 125px;
	height: 160px;
	background-color: white;
	border: 0;
}

.preview_btn {
	position: relative;
	top: -30px;
	left: 0;
	background-color: rgba(41, 36, 36, 0.7);
	display: none;
	font-size: 13px;
	color: white;
	padding: 15px 36px;
	text-align: center;
}

.lb-data .lb-number {
	color: #EC0808;
}

/* 攻略文件预览end */
.row-list {
    margin-bottom: 50px;
}

.row-list:last-child {
    margin: 0;
}

.row-list .hd {
   margin-bottom: 25px;
    font-size: 18pt;
    line-height: 40px;
    font-weight: bold;
    font-family: "microsoft yahei";
}
.row-list .row-icon{
    width:40px;
    height:40px;
    display: inline-block;
    float: left;

    margin-right: 10px;
}
.row-list #theme-icon{
    background: transparent url("../../../images/main-icon.png") repeat scroll -55px 46px / 651% 134%;
}

.row-list #mdd-icon{
    background: transparent url("../../../images/main-icon.png") repeat scroll -173px 50px / 658% 142%;
}
.row-list .hd span {
    font-size: 14px;
    color: #a8a8a8;
}

.row-list .bd {
    overflow: hidden;
}

.row-list dl {
    margin-bottom: 50px;
}

.row-list dt {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
}

.row-list dd {
    margin-left: -22px;
}

.row-list ul {
    float: left;
    width: 282px;
    padding-left: 30px;
    display: inline;
    margin-left: 22px;
   /*  line-height: 40px; */
    font-size: 14px;
}

.row-list dd a {
    color: #666;
}

.row-list dd .link-hot {
    color: #ff6035;
     transition:all 0.2s ease;
     font-size:10pt;
}

.row-list dd .en {
    color: #a8a8a8;
    font-family: Arial;
    word-wrap: break-word;
    word-break: normal;
}

.row-list .letter {
    float: left;
    margin-left: -30px;
    width: 30px;
    overflow: hidden;
    padding: 0;
    display: inline;
    font-size: 20px;
    font-family: Centaur, Times New Roman;
    text-transform: uppercase;
}

.row-list .icon-label {
    position: absolute;
    margin: 8px 0 0 5px;
    *margin-top: 2px;
    width: 32px;
    height: 14px;
    background: url(/images/mdd/place/plaInd-sprite3.png) no-repeat -555px 0;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    line-height: 100px;
    overflow: hidden;
    vertical-align: top;
}

.row-list .texas {
    background-color: #9f4d31;
    color: #fefefe;
    font-size: 12px;
    font-family: sans-serif, Verdana, "Microsoft Yahei", Helvetica, "瀵邦喛钂嬮梿鍛寸拨", "鐎瑰缍�;
    margin-left: 40px;
    overflow: hidden;
    padding: 1px 3px;
    vertical-align: top;
    text-decoration: none
}

/* 閸ヨ棄鍞撮崚妤勩� */
.bd-china .item {
    margin-bottom: 10px;
    padding-left: 150px;
    *zoom: 1;
}
.bd-china .item .theme-type-icon{
    width:30px;
    height:30px;
    display: inline-block;
    position: relative;
}
.bd-china .item:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.bd-china dt {
   color: #666;
    font-size: 12pt;
    font-family: microsoft yahei;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0 35px 0 -90px;
}

.bd-china dt a {
    color: #666;
}

.bd-china dd {
    margin-left: 0;
}

.bd-china ul {
    float: none;
    width: auto;
    display: block;
    margin: 0 -50px 0 -40px;
    padding: 0;
}

.bd-china ul li {
float: left;
    display: inline;
    margin-right: -15px;
    width: 65px;
    margin-top: 10px;
}

.bd-china ul a {
    white-space: nowrap;
    padding:3px 5px;
    display: inline-block;

}

.bd-china ul a:hover{
    background-color: #ff6035;
    color:white
}

.bd-china .icon-label {
    margin-left: 2px;
}


.iamad-fxckme {
    width: 980px;
    margin: 20px auto;
}


.row-hot .bd .setHot {
    position: absolute;
    top: 2px;
    right: 2px;
}

.row-hot .bd .btn {
    display: none;
    cursor: pointer;
    text-align: center;
    width: 80px;
    background: #4eadf2;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: medium none;
    height: 20px;
    margin-top: 1px;
}

.row-line {
	height: 1px;
    background-color: #b76cc7;
    overflow: hidden;
    width: 79%;
    position: relative;
    top: -46px;
    left: 197px;
}

.row-hot .bd a:hover .btn {
    display: block
}



.inputSpan input {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    width: 234px;
    height: 20px;
    line-height: 20px;
    border: 0;
    outline: none;
    background: #fff;
    color: #333;
}

.setMain textarea {
    outline: none;
    display: block;
    width: 100%;
    height: 90px;
    padding: 5px;
    margin: 0;
    border: 1px solid #E1E1E3;
    background: #F5F5F5;
    line-height: 22px;
    font-size: 12px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popup_mdd .fd {
    text-align: center;
}

.popup_mdd .tip {
    visibility: visible;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ff001c;
}

.popup_mdd .btn {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    background: #4eadf2;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: medium none;
    height: 20px;
    margin-top: 1px;
}

.popup_mdd .uploadImg {
    display: inline;
}

.popup_mdd .upFileBtn {
    width: 80px;
    background: #4eadf2;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: medium none;
    height: 21px;
    margin-top: 4px;
}

/*缁狅紕鎮婇崨妯肩椽鏉堟垵灏崺锟�
.row-hot {
    margin: 0 0 50px;
}

.row-hot .hd, .row-list .hd {
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}

.row-hot .hd {
    color: #333;
}

.row-hot .nav {
    margin-bottom: 10px;
    line-height: 32px;
    font-size: 18px;
    color: #ff7200;
    clear: both;
    overflow: hidden;
    height: 32px;
    *zoom: 1;
}

.row-hot .nav li {
    float: left;
    display: inline;
    margin-right: 20px;
}

.row-hot .nav a {
    display: inline-block;
    color: #666;
    padding: 0 7px;
    border-radius: 2px;
    text-decoration: none;
}

.row-hot .nav .on {
    background-color: #ffa800;
    color: #fff;
}

.row-hot .nav_edit {
    margin-bottom: 10px;
    line-height: 32px;
    font-size: 18px;
    color: #ff7200;
    clear: both;
    overflow: hidden;
    height: 32px;
    *zoom: 1;
}

.row-hot .nav_edit li {
    float: left;
    display: inline;
    margin-right: 20px;
}

.row-hot .nav_edit a {
    display: inline-block;
    color: #ff7200;
    padding: 0 7px;
    border-radius: 2px;
    text-decoration: none;
}

.row-hot .nav_edit .tabmove {
    width: 5px;
    height: 30px;
    margin-top: 2px;
    float: left;
    cursor: move;
    background: #ffa800;
}

.row-hot .nav_edit input {
    border: 1px dashed #ffa800;
    width: 65px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}

.row-hot .bd {
    width: 100%;
    overflow: hidden;
}

.row-hot .bd ul {
    margin-left: -10px;
    *zoom: 1;
}

.row-hot .bd li {
    float: left;
    width: 280px;
    height: 220px;
    display: inline;
    margin: 0 0 10px 10px;
    overflow: hidden;
    position: relative;
}

.row-hot .bd a {
    display: block;
}

.row-hot .bd .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .5s ease 0s;
}

.row-hot .bd a:hover .mask {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.row-hot .bd .info {
    position: absolute;
    left: 0;
    bottom: 80px;
    z-index: 3;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    height: 46px;
}

.row-hot .bd h3 {
    font-size: 35px;
    font-weight: normal;
    position: relative;
    line-height: 46px;
    display: block
}

.row-hot .bd p {
    font-size: 16px;
    margin: 0 15px;
    color: #fff;
    position: relative;
    line-height: 46px;
    display: none
}

.row-hot .bd img {
    transition: all 1s ease 0s;
}

.row-hot .bd a:hover img {
    transform: scale(1.1);
    transition: all 2s ease 0s;
}

.row-hot .bd a:hover h3 {
    display: none
}

.row-hot .bd a:hover p {
    display: block
}

.row-hot .bd .item-large {
    width: 400px;
}

.row-hot .bd li img {
    width: 280px;
    height: 220px;
}

.row-hot .bd li.item-large img {
    width: 400px;
    height: 220px;
}


