@charset "utf-8";

 /*麵包屑  */
#header {
	margin-bottom: 0;
}

.crumb .item a {
	color: #666;
	font-size: 12px;
}

.crumb {
	width: 980px;
	font: 12px Arial, "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", Tahoma,
		Helvetica, STHeiti, "Hiragino Sans GB";
	height: 20px;
	padding: 15px 0;
	color: #666;
	line-height: 20px;
	margin: 0 auto;
}

#breadcrumbs-four {
	overflow: hidden;
	width: 980px;
	margin:5px auto;
}

#breadcrumbs-four li {
	float: left;
	margin: 0 .5em 0 1em;
}

#breadcrumbs-four a {
	padding: 4px;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	
}
#breadcrumbs-four a:hover {
	color:red;
}
#breadcrumbs-four .current,#breadcrumbs-four .current:hover {
	font-weight: bold;
	background: none;
	color:red;
}

#breadcrumbs-four .current::after,#breadcrumbs-four .current::before {
	content: normal;
}
/* 麵包屑 結束 */
  .focus{
        margin:0 auto;
        width:980px;
        height:400px;
        transtion: 0.2s all ease;
    }
    .focus:hover .city_detail{
		opacity: 1;
        top:314px;
    }

    .city_detail{
        width:980px;
        height:286px;
        position: absolute;
        top:200;
        padding:80px;
        box-sizing: border-box;
		
        font-size: 14px;
        color:white;
        line-height: 30px;
        letter-spacing: 1px;
        font-family: "Century Gothic", "Microsoft Yahei", simsun, sans-serif;
        opacity: 0;
        transition:0.4s all ease;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0,
 rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.45) 100% );

    }

    .title{
        font-size: 30px;
        color:white;
        position: absolute;
        top:200px;
        padding:80px;
        font-family: "Century Gothic", "Microsoft Yahei", simsun, sans-serif;
        letter-spacing: 10px;;
    }
body, caption, th {
    text-align: left
}

.ui3_input:focus, .ui3_textarea:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05) inset
}

#qyer_head_nav_item_lastm, sub, sup {
    position: relative
}

body {
    color: #323232
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    outline: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, iframe, menu, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block
}

body, button, input, select, textarea {
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", \5b8b\4f53, sans-serif
}

button, input, select, textarea {
    font-size: 100%;
    color: #636363;
    outline: 0
}

textarea {
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

.ui_btn_big:hover, .ui_btn_bigA:hover, .ui_btn_bigC:hover, .ui_btn_big_cancel:hover, .ui_btn_big_disabled, .ui_btn_big_disabled:hover, .ui_btn_big_load:hover, .ui_btn_small:hover, .ui_btn_smallA:hover, .ui_btn_smallC:hover, .ui_btn_small_cancel:hover, .ui_btn_small_disabled, .ui_btn_small_disabled:hover, .ui_btn_small_load:hover, .ui_btn_small_warning:hover, .ui_button:hover, .ui_buttonA:hover, .ui_buttonC:hover, .ui_button_cancel:hover, .ui_button_disabled, .ui_button_disabled:hover, .ui_button_load:hover, .ui_button_warning:hover, a {
    text-decoration: none
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}

q:after, q:before {
    content: ""
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

.addguanzhu em, .buy-btn-ico, .buy-btn-text, .dingyu, .dy-email, .lm-index-search .lm-search-btn, .lm-index-search .lm-search-text, .ui_page_item {
    vertical-align: middle
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}



a:focus, input:focus {
    outline: 0
}

button::-moz-focus-inner, input::-moz-focus-inner {
    outline: 0;
    border: 0;
    padding: 0
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #959595 !important
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #959595 !important
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #959595 !important
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #959595 !important
}

.cb {
    clear: both
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    zoom: 1
}

.fr {
    float: right
}

.fl {
    float: left
}

.fontTahoma {
    font-family: tahoma, \5b8b\4f53, sans-serif
}

.fontArial {
    font-family: helvetica, arial, \5b8b\4f53, sans-serif
}

.fontSong {
    font-family: \5b8b\4f53, sans-serif
}

.fontYaHei {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \9ED1\4F53, \5b8b\4f53, sans-serif
}

.ui2_textarea, .ui3_textarea {
    font-family: Helvetica, Arial, "Hiragino Sans GB", 瀹嬩綋, sans-serif
}

.cBlack {
    color: #323232
}

.cGray {
    color: #636363
}

.cLightgray {
    color: #959595
}

.cWhite {
    color: #fff
}

.cRed {
    color: #790000
}

.cBlue {
    color: #0073b6
}

.cGreen {
    color: #077345
}

.cRed_caution {
    color: #ed1c24
}

.qyWrap {
    width: 980px;
    margin-left: auto;
    margin-right: auto
}

.qySide {
    width: 270px
}

.qyMain {
    width: 680px
}


.ui_btn_big:active, .ui_btn_bigA:active, .ui_btn_big_cancel:active, .ui_btn_big_warning:active, .ui_btn_small:active, .ui_btn_smallA:active, .ui_btn_smallC:active, .ui_btn_small_cancel:active, .ui_btn_small_warning:active, .ui_button:active, .ui_buttonA:active, .ui_buttonC:active, .ui_button_cancel:active, .ui_button_warning:active {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2)
}

.ui_button, .ui_buttonA, .ui_buttonB, .ui_buttonC, .ui_button_cancel, .ui_button_disabled, .ui_button_load, .ui_button_warning {
    display: inline-block;
    height: 28px;
    padding: 0 15px;
    border: none;
    border-radius: 3px;
    overflow: visible;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.ui_button {
    background-color: #3f9f5f
}

.ui_button:hover {
    background-color: #5cad77;
    color: #fff
}

.ui_button:active {
    background-color: #3f9f5f
}

.ui_buttonA {
    background-color: #1995dd
}

.ui_buttonA:hover {
    background-color: #3ba5e2;
    color: #fff
}

.ui_buttonA:active {
    background-color: #1995dd
}

.ui_buttonC {
    background-color: #f26622
}

.ui_buttonC:hover {
    background-color: #f5802d;
    color: #fff
}

.ui_buttonC:active {
    background-color: #f26622
}

.ui_button_warning {
    background-color: #cb0900
}

.ui_button_warning:hover {
    background-color: #e50e04;
    color: #fff
}

.ui_button_warning:active {
    background-color: #b90800
}

.ui_button_cancel {
    height: 26px;
    line-height: 26px;
    background-color: #f5f5f5;
    border: 1px solid silver;
    padding: 0 14px;
    color: #323232
}

.ui_button_cancel:hover {
    background-color: #fff;
    border-color: #959595;
    color: #323232
}

.ui_button_cancel:active {
    background-color: #f5f5f5;
    border-color: #959595
}

.ui_button_disabled, .ui_button_load {
    height: 26px;
    line-height: 26px;
    border: 1px solid #d7d7d7;
    cursor: default
}

.ui_button_disabled {
    padding: 0 14px;
    background-color: #eaeaea;
    color: silver
}

.ui_button_load {
    padding: 0 28px;
    background: url(http://static.qyer.com/models/common/images/wait_16.gif) center center no-repeat #fff;
    color: #999;
    text-indent: -200px
}

.ui_button_load:hover {
    color: #999;
    cursor: default
}

button.ui_button_cancel, button.ui_button_disabled, button.ui_button_load, input.ui_button_cancel, input.ui_button_disabled, input.ui_button_load {
    height: 28px;
    line-height: normal
}

.ui_btn_big, .ui_btn_bigA, .ui_btn_bigC, .ui_btn_big_cancel, .ui_btn_big_disabled, .ui_btn_big_load, .ui_btn_big_warning {
    display: inline-block;
    height: 36px;
    padding: 0 25px;
    border: none;
    border-radius: 3px;
    overflow: visible;
    font-size: 18px;
    line-height: 36px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \9ED1\4F53, \5b8b\4f53, sans-serif;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.ui_btn_big_cancel, .ui_btn_big_disabled, .ui_btn_big_load {
    height: 34px;
    line-height: 34px
}

.ui_btn_big {
    background-color: #3f9f5f
}

.ui_btn_big:hover {
    background-color: #5cad77;
    color: #fff
}

.ui_btn_big:active {
    background-color: #3f9f5f
}

.ui_btn_bigA {
    background-color: #1995dd
}

.ui_btn_bigA:hover {
    background-color: #3ba5e2;
    color: #fff
}

.ui_btn_bigA:active {
    background-color: #1995dd
}

.ui_btn_bigC {
    background-color: #f26622
}

.ui_btn_bigC:hover {
    background-color: #f5802d;
    color: #fff
}

.ui_btn_bigC:active {
    background-color: #f26622;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2)
}

.ui_btn_big_warning {
    background-color: #cb0900
}

.ui_btn_big_warning:hover {
    background-color: #e50e04;
    color: #fff;
    text-decoration: none
}

.ui_btn_big_warning:active {
    background-color: #b90800
}

.ui_btn_big_cancel {
    background-color: #f5f5f5;
    border: 1px solid silver;
    padding: 0 24px;
    color: #323232
}

.ui_btn_big_cancel:hover {
    background-color: #fff;
    border-color: #959595;
    color: #323232
}

.ui_btn_big_cancel:active {
    background-color: #f5f5f5;
    border-color: #959595
}

.ui_btn_big_disabled {
    border: 1px solid #d7d7d7;
    padding: 0 24px;
    background-color: #eaeaea;
    cursor: default;
    color: silver
}

.ui_btn_big_load {
    padding: 0 42px;
    border: 1px solid #ccc;
    background: url(http://static.qyer.com/models/common/images/wait_16.gif) center center no-repeat #fff;
    color: #999;
    text-indent: -200px;
    cursor: default
}

.ui_btn_big_load:hover {
    color: #999;
    cursor: default
}

button.ui_btn_big_cancel, button.ui_btn_big_disabled, button.ui_btn_big_load, input.ui_btn_big_cancel, input.ui_btn_big_disabled, input.ui_btn_big_load {
    height: 36px;
    line-height: normal
}

.ui_btn_small, .ui_btn_smallA, .ui_btn_smallB, .ui_btn_smallC, .ui_btn_small_cancel, .ui_btn_small_disabled, .ui_btn_small_load, .ui_btn_small_warning {
    display: inline-block;
    height: 24px;
    padding: 0 13px;
    border: none;
    border-radius: 3px;
    overflow: visible;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.ui_btn_small {
    background-color: #3f9f5f
}

.ui_btn_small:hover {
    background-color: #5cad77;
    color: #fff
}

.ui_btn_small:active {
    background-color: #3f9f5f
}

.ui_btn_smallA {
    background-color: #1995dd
}

.ui_btn_smallA:hover {
    background-color: #3ba5e2;
    color: #fff
}

.ui_btn_smallA:active {
    background-color: #1995dd
}

.ui_btn_smallC {
    background-color: #f26622
}

.ui_btn_smallC:hover {
    background-color: #f5802d;
    color: #fff
}

.ui_btn_smallC:active {
    background-color: #f26622
}

.ui_btn_small_warning {
    background-color: #cb0900
}

.ui_btn_small_warning:hover {
    background-color: #e50e04;
    color: #fff
}

.ui_btn_small_warning:active {
    background-color: #b90800
}

.ui_btn_small_cancel {
    height: 22px;
    line-height: 22px;
    background-color: #f5f5f5;
    border: 1px solid silver;
    padding: 0 12px;
    color: #323232
}

.ui_btn_small_cancel:hover {
    background-color: #fff;
    border-color: #959595;
    color: #323232
}

.ui_btn_small_cancel:active {
    background-color: #f5f5f5;
    border-color: #959595
}

.ui_btn_small_disabled, .ui_btn_small_load {
    height: 22px;
    line-height: 22px;
    border: 1px solid #d7d7d7;
    cursor: default
}

.ui_btn_small_disabled {
    padding: 0 12px;
    background-color: #eaeaea;
    color: silver
}

.ui_btn_small_load {
    padding: 0 24px;
    background: url(http://static.qyer.com/models/common/images/wait_16.gif) center center no-repeat #fff;
    color: #999;
    text-indent: -200px
}

.ui_btn_small_load:hover {
    color: #999;
    cursor: default
}

button.ui_btn_small_cancel, button.ui_btn_small_disabled, button.ui_btn_small_load, input.ui_btn_small_cancel, input.ui_btn_small_disabled, input.ui_btn_small_load {
    height: 24px;
    line-height: normal
}

.borderbox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.qyer_hf_bg {
    background: url(http://static.qyer.com/models/basic/images/headfoot.png?v=3) left top no-repeat
}

.qyer_head_logo {
    float: left;
    width: 110px;
    height: 40px
}

.qyer_head_logo img {
    width: 80px !important;
    height: 38px !important
}

.qyer_head_nav {
    float: left;
    width: 480px
}

.qyer_head_nav_item {
    float: left;
    margin-top: 2px
}

.qyer_head_nav_item_tit {
    display: block;
    height: 34px;
    height: 38 px\9 \0;
    padding: 0 12px;
    line-height: 34px;
    line-height: 38 px\9 \0;
    overflow: hidden;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", \9ED1\4F53, \5b8b\4f53, sans-serif;
    font-size: 17px;
    color: #e0f1df !important;
    text-align: center
}

#qyer_head_nav_item_lastm .tip, .qyer_head_subnav_bg {
    display: none
}

#qyer_head_nav_item_lastm:after, #qyer_head_nav_item_plan:after {
    content: '';
    right: -4px;
    top: -2px;
    width: 22px;
    height: 16px;
    line-height: 200px;
    overflow: hidden
}

.qyer_head_nav_item_this .qyer_head_nav_item_tit, .qyer_head_nav_item_tit:hover {
    border-bottom: 2px solid #74b089;
    color: #fff !important
}

.qyer_head_nav_item_tit:hover {
    text-decoration: none !important
}

#qyer_head_nav_item_lastm:after {
    position: absolute;
    background: url(/images/common/head/nav-hot.png) no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (min-resolution: 192dpi) {
    #qyer_head_nav_item_lastm::after {
        background: url(//static.qyer.com/images/common/head/nav-hot@2x.png) no-repeat;
        background-size: 100% 100%
    }
}

#qyer_head_nav_item_plan {
    position: relative
}

#qyer_head_nav_item_plan:after {
    position: absolute;
    background: url(/images/common/head/nav-plan.png) no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (min-resolution: 192dpi) {
    #qyer_head_nav_item_plan::after {
        background: url(//static.qyer.com/images/common/head/nav-plan@2x.png) no-repeat;
        background-size: 100% 100%
    }
}

.qyer_head_nav_item_sns, .qyer_head_nav_item_yd {
    position: relative;
    padding: 0 21px 0 12px
}

.qyer_head_nav_item_sns:after, .qyer_head_nav_item_yd:after {
    position: absolute;
    top: 14px;
    right: 12px;
    content: "";
    width: 0;
    height: 0;
    overflow: hidden;
    border: 4px solid transparent;
    border-top-color: #e0f1df;
    border-bottom-width: 0
}

.qyer_head_nav_item_current .qyer_head_nav_item_sns, .qyer_head_nav_item_current .qyer_head_nav_item_yd {
    border: 1px solid #d9d9d9;
    padding: 0 20px 0 11px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
    color: #147850 !important
}

.qyer_head_nav_item_current .qyer_head_nav_item_sns:after, .qyer_head_nav_item_current .qyer_head_nav_item_yd:after {
    border-top-color: #147850
}

#qyer_head_nav_item_sns:hover, #qyer_head_nav_item_yd:hover {
    position: relative;
    z-index: 399
}

#qyer_head_nav_item_sns:hover .qyer_head_nav_item_sns, #qyer_head_nav_item_yd:hover .qyer_head_nav_item_yd {
    border: 1px solid #d9d9d9;
    padding: 0 20px 0 11px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
    color: #147850 !important
}

#qyer_head_nav_item_sns:hover .qyer_head_nav_item_sns:after, #qyer_head_nav_item_yd:hover .qyer_head_nav_item_yd:after {
    border-top-color: #147850
}

#qyer_head_nav_item_sns:hover .qyer_head_subnav_bg, #qyer_head_nav_item_yd:hover .qyer_head_subnav_bg {
    display: block;
    width: 142px;
    position: absolute;
    z-index: 499;
    right: 0;
    top: 34px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: none;
    border-radius: 5px 0 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.qyer_head_subnav_list {
    padding: 8px
}

.qyer_head_subnav_list li {
    font-size: 14px
}

.qyer_head_subnav_list .subnav_item {
    display: block;
    height: 30px;
    padding-left: 39px;
    line-height: 30px;
    color: #147850;
    background-repeat: no-repeat;
    border-radius: 2px
}

.qyer_head_subnav_list .subnav_item:hover {
    background-color: #74b089;
    color: #fff;
    text-decoration: none
}

.subnav_item.bbs {
    background-position: 8px -359px
}

.subnav_item.ask {
    background-position: 8px -390px
}

.subnav_item.mguide {
    background-position: 8px -1140px
}

.subnav_item.qlab {
    background-position: 8px -1020px
}

.subnav_item.bbs:hover {
    background-position: 8px -450px
}

.subnav_item.ask:hover {
    background-position: 8px -481px
}

.subnav_item.mguide:hover {
    background-position: 8px -1170px
}

.subnav_item.qlab:hover {
    background-position: 8px -1050px
}

.subnav_item.plane {
    background-position: 8px -542px
}

.subnav_item.insure {
    background-position: 8px -573px
}

.subnav_item.visa {
    background-position: 8px -602px
}

.subnav_item.hoteldeal {
    background-position: 8px -633px
}

.subnav_item.shop {
    background-position: 8px -665px
}

.subnav_item.liner {
    background-position: 8px -692px
}

.subnav_item.car {
    background-position: 8px -722px
}

.subnav_item.plane:hover {
    background-position: 8px -762px
}

.subnav_item.insure:hover {
    background-position: 8px -791px
}

.subnav_item.visa:hover {
    background-position: 8px -821px
}

.subnav_item.hoteldeal:hover {
    background-position: 8px -853px
}

.subnav_item.shop:hover {
    background-position: 8px -883px
}

.subnav_item.liner:hover {
    background-position: 8px -911px
}

.subnav_item.car:hover {
    background-position: 8px -941px
}

.qyer_head_search {
    position: relative;
    float: right;
    width: 175px;
    height: 28px;
    margin-top: 5px;
    background: #fff
}

.qyer_head_search_input {
    float: left;
    width: 131px;
    height: 18px;
    padding: 5px 8px;
    border: none;
    background: 0 0;
    font-size: 12px;
    line-height: 18px
}

.qyer_head_search_btn {
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    text-indent: -100px;
    background-position: 0 -189px
}

.qyer_head_search_btn:hover {
    background-position: -62px -189px
}

.qyer_head_search_drop {
    display: none;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 28px;
    width: 268px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3)
}

.qyerHeadSearchDropList li {
    border-top: 1px solid #ececec
}

.qyerHeadSearchDropList li:first {
    border-top: none
}

.qyerHeadSearchDropList a {
    display: block;
    color: #323232
}

.qyerHeadSearchDropList a.current, .qyerHeadSearchDropList a:hover {
    background-color: #e6f4d9;
    text-decoration: none
}

.qyerHeadSearchDropList .item a {
    height: 36px;
    padding: 7px 10px 7px 50px
}

.qyerHeadSearchDropList .item .related {
    font-weight: 700;
    color: #007345
}

.qyerHeadSearchDropList .item .pic {
    float: left;
    margin: 3px 0 0 -40px
}

.qyer_head_loginList .entry_box, .qyer_head_loginList .entry_tit, .qyer_head_login_entry li {
    float: right;
    margin-left: 10px
}

.qyerHeadSearchDropList .item .face {
    border-radius: 50%
}

.qyerHeadSearchDropList .item .title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.qyerHeadSearchDropList .item .info {
    color: #636363
}

.qyerHeadSearchDropList .item2 a {
    padding: 0 10px;
    line-height: 32px;
    font-weight: 700
}

.qyerHeadSearchDropList .item2 .related {
    font-weight: 400
}



#js_autoheight_clone {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    border-width: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden
}

.ui2_input, .ui2_textarea {
    height: 24px;
    padding: 3px 7px;
    border: 1px solid silver;
    line-height: 24px;
    font-size: 14px;
    overflow: hidden
}

.ui_page_next, .ui_page_prev {
    font-size: 12px
}

.ui_page.load {
    position: relative
}

.ui_page.load:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .7)
}

.lmFeature {
    width: 100%;
    height: 90px;
    overflow: hidden;
    padding: 40px 0 30px;
    margin: 20px auto
}

.lmFeature li {
    float: left;
    width: 180px;
    padding: 0 35px 0 110px
}

.lmFeature .icon {
    float: left;
    width: 56px;
    height: 56px;
    margin-left: -75px;
    background: url(http://static.qyer.com/static/lm/project/lm/images/feature_new.png) no-repeat;
    background-size: 56px 360px
}

.banner-img-cell, .lm-index-banner, .lm-index-imglist {
    height: 270px;
    position: relative
}

.lmFeature .tit {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.125
}

.lmFeature .txt {
    color: #a8a8a8
}

.lmFeature .item1 .icon {
    background-position: 0 0
}

.lmFeature .item2 .icon {
    background-position: 0 -120px
}

.lmFeature .item3 .icon {
    background-position: 0 -240px
}

.ui_page {
    font-size: 14px;
        float: right;
}

.ui_page_item.ui_page_next, .ui_page_item.ui_page_prev {
    font-size: 14px;
    color: silver
}

.ui_page_item.ui_page_next:hover, .ui_page_item.ui_page_prev:hover {
    color: #636363;
    background: 0 0
}

.ui_page_item {
    text-align: center;
    color: #636363;
    padding: 0 7px
}

.ui_page_item:hover {
    background: #ececec;
    border-radius: 0;
    color: #323232;
    padding: 4px 7px
}

.ui_page_item_current, .ui_page_item_current:hover {
    padding:5px 9px;
    background: #ff4c31;
    font-weight: 400;
    border-radius: 0;
    color: #fff
}


.lm-index-banner {
    width: 100%;
    min-width: 980px;
    overflow: hidden
}

.lm-index-imglist {
    width: 99999px;
    white-space: nowrap;
    font-size: 0
}

.banner-img-cell {
    float: left;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center top
}

.banner-img-cell-link {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center top
}

.banner-btn {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 138px;
    height: 270px
}

.lm-condition-wrap {
    margin-top: 40px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 25px 30px 5px;
    font-size: 14px
}

.condition-line {
    padding-bottom: 5px
}

.condition-title {
    float: left;
    width: 110px;
    line-height: 22px;
    margin-top: 21px;
    font-size: 18pt;
    font-family: "Microsoft YaHei";
    letter-spacing: 2px;
    font-weight:bold;
    color:rgb(102, 102, 102);
}

.condition-line:first-child .condition-title {
    margin-top: 0
}

.condition-wrap {
    padding-top: 20px;
    border-top: 1px solid #ececec;
    float: left;
    width: 800px
}

.condition-line:first-child .condition-wrap {
    padding-top: 0;
    border-top: none
}

.condition-all, .condition-list-cell {
    height: 22px;
    padding: 0 5px;
    float: left;
    line-height: 22px;
    cursor: pointer
}

.condition-all {
    /*  width: 40px;*/
    text-align: center
}

.condition-all.active {
    /*background-color: aliceblue;*/
}

.condition-list-wrap .theme-icon{
    width:35px;
    height:35px;
    display: inline-block;
    float: left;
    position: relative;
    top:-8px;
}

.condition-all-link:hover {
    //color: #29bd95;
    text-decoration: underline
}

.condition-all.active .condition-all-link {
    color: #ff6b3d;
    text-decoration: none;
    font-family: "Microsoft YaHei UI";
    font-size: 12pt;
    font-weight: bold;
}

.condition-list-wrap {
    float: left;
    width: 725px;
    margin-bottom: 10px;
}

.condition-sub-list-wrap {
    display: none;
    margin: 17px 15px 0 12px
}

.condition-sub-list-wrap.forcommon {
    margin: 0
}

.condition-sub-list-wrap.forshow {
    margin: 0;
    display: block
}

.condition-list{
    display: table-footer-group;
}

.condition-list-cell {
    margin-left: 5px;
    position: relative;
}

.condition-list-cell.active {
    background: #12af7e
}

.condition-btn-link {
    display: inline-block;
    color: #636363;
    cursor: pointer;
    padding:0 6px;
    font-family: "microsoft yahei";
     transition:all 0.2s ease;
     font-weight:bold;
     font-size:10pt;
}
.condition-btn-link:hover {
    color: #fff;
background-color: #ff6b3d
}

.addguanzhu:hover, .dingyu:hover, .lm-index-product-list li a, .qyer-sort a, .remaind:hover {
    text-decoration: none
}

.condition-list-cell.active .condition-btn-link {
    color: #fff;
    text-decoration: none
}

.condition-btn-link.new, .condition-btn-link.tuchu {
    color: #fe7566
}

.buy-btn-ico, .list-cell-ico, .search-null-ico {
    background: url(http://static.qyer.com/static/lm/project/lm/images/lm-ico.png) no-repeat;
    background-size: 108px 155px
}


.condition-list-cell.active .list-cell-ico {
    display: none
}

.condition-sub-list-tit {
    border-bottom: 1px solid #ececec
}

.cell-nbsp {
    width: 90px
}


.lm-index-sort-wrap {
    margin-top: 35px;
    padding-left: 15px;
    height: 40px
}
.lm-index-sort-wrap .hot_icon{
    width:50px;
    height:50px;
    display: inline-block;
    background: transparent url("../../../images/main-icon.png") repeat scroll -10px 60px / 688% 147%;
    position: relative;
    top:-15px;
}

.lm-index-sort-wrap .line {
    height: 1px;
    background-color: #b76cc7;
    position: relative;
    left: 230px;
    top: 10px;
    width: 490px;
}
.qyer-sort {
    float: left;
    color: #636363;
    clear: both;
    height: 40px;
    zoom: 1
}

.qyer-sort a {
    display: block;
    color: #636363;
    font-size: 17px;
    font-family: "Microsoft YaHei light";
    width: 100%;
    height: 100%;
    font-weight: bold;
     transition:all 0.2s ease;
}

.qyer-sort > li {
    position: relative;
    display: block;
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.qyer-sort > li.active a, .qyer-sort > li:hover a {
    color: #ff6b3d;
    cursor: pointer
}

.qyer-sort > li:last-child {
    border-right: 0
}

.qyer-sort > li:last-child:hover {
    color: #636363;
    cursor: default
}

.qyer-sort > li > a > i[class*=icon] {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-bottom: -1px;
    margin-left: 2px;
    background: url(http://static.qyer.com/static/lm/project/lm/images/icon-normal-down.png) no-repeat;
    background-size: 6px 10px
}

.qyer-sort > li.active > a > i[class*=icon], .qyer-sort > li:hover > a > i[class*=icon] {
    background: url(http://static.qyer.com/static/lm/project/lm/images/icon-active-down.png) no-repeat;
    background-size: 6px 10px
}

.qyer-sort > li.icon-up > a > i[class*=icon] {
    background: url(http://static.qyer.com/static/lm/project/lm/images/icon-normal-up.png) no-repeat;
    background-size: 6px 10px
}

.qyer-sort > li.icon-up.active > a > i[class*=icon], .qyer-sort > li.icon-up:hover > a > i[class*=icon] {
    background: url(http://static.qyer.com/static/lm/project/lm/images/icon-active-up.png) no-repeat;
    background-size: 6px 10px
}

.qyer-sort > li > input[type=checkbox] {
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle
}

.qyer-sort > li ul.price-sort {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: 90px;
    height: auto;
    z-index: 500;
    background-color: #FFF;
    border: 1px solid #ECECEC;
    border-top: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.qyer-sort > li ul.price-sort > li {
    width: 100%
}

.qyer-sort > li ul.price-sort > li:hover > a {
    color: #3F9F5F
}

.qyer-sort > li ul.price-sort > li > a {
    color: #636363;
    cursor: pointer
}

.qyer-sort > li:hover ul.price-sort {
    display: block
}

input::-webkit-input-placeholder {
    color: silver !important
}

input::-moz-placeholder {
    color: silver !important
}

input:-moz-placeholder {
    color: silver !important
}

input:-ms-input-placeholder {
    color: silver !important
}

.lm-index-search {
    float: right;
    height: 30px;
    padding: 5px 0;
    position: relative;
    top: -10px;
    width:235px;
    border:1px solid #FFAB09;
    
}

.lm-index-search .lm-search-text {
    width: 190px;
    height: 30px;
    color: #636363;
    font-size: 14px;
    line-height: 28px;
    border: 0px solid #ddd;
	outline:0;
    background-color: #fff;
    padding: 0 25px 0 10px;
    display: inline-block
}



.lm-index-search .lm-search-btn {
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -27px;
    left: 205px;
    color: rgba(255, 255, 255, 0);
    /* background: #ff6b3d; */
    transition: all 0.3s ease;
    background: url(../../../images/gonglve.png) -67px 45px no-repeat;
    background-position: 2px 0px;
    background-size: 190px 190px;
}

.lm-index-product-list {
    margin: 17px 0 0 -10px;
    position: relative
}

.lm-index-product-list li {
    width: 100%;
    height: 450px;
    float: left;
    margin: 0 0 30px 10px;
    overflow: hidden;
    border-bottom: 1px solid  #ff6b3d;
}

.lm-index-product-list li:hover {
    -webkit-box-shadow: 0 1px 3px #e3e3e3;
    -moz-box-shadow: 0 1px 3px #e3e3e3;
    box-shadow: 0 1px 3px #e3e3e3
}

.lm-index-product-list li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #323232;
    position: relative;
    background: #fff
}

.list-surface {
    -wekit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 40;
    padding: 10px 0 0 15px;
    color: #fff;
    font-size: 14px;
    line-height: 24px
}

.lm-index-product-list .list-tips {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%
}

.tip-inner-text {
    width: 32px;
    padding: 11px 9px 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 18px
}



.list-tuwen {
    position: relative;
    height: 450px;
    overflow: hidden
}

.list-buymask, .list-tuwen:before, .list-wenzi-wrap {
    position: absolute;
    left: 0
}

.list-tuwen:before {
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(top, rgba(0, 0, 0, .3) 0, rgba(255, 255, 255, 0) 100%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    z-index: 5
}

.list-photo {
    width: 100%;
    height: 300px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.list-wenzi-wrap {
    right: 0;
    bottom: -30px;
    padding: 14px 0 0 0;
    background-color: #fff;
    -webkit-transition: bottom .3s;
    transition: bottom .3s;
    z-index: 10
}

.list-wenzi-wrap h4 {
    font-size: 18px;
    line-height: 26px;
    color: #323232;
    height: 20px;
    margin: 0 15px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.wenzi-cell {
    border-top: 1px solid #ececec;
    padding-top: 15px;
    height: 50px;
    margin: 0 15px
}

.wenzi-cell-time {
	margin:0;
    float: left;
    width: 139px;
    max-width: 140px;
    font-size: 12px;
    line-height: 16px;
    color: #959595
}

.cell-traveltime {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.cell-travelmonth {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #636363
}

.wenzi-cell-price {
    float: right;
    width: 151px;
    max-width: 151px;
    height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 34px;
    font-size: 12px;
    color: #959595;
    text-align: right;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
     text-overflow: ellipsis;
}

.wenzi-cell-price em {
    font-size: 36px;
    color: #ff7467
}
.wenzi-cell-description{
	position:relative;
	float:right;
	width: 50%;
    height: 100%;
   
  
}
.wenzi-cell-description-wenzi{
  margin: 15px 15px 15px;
	 text-overflow: ellipsis;
	
    overflow:hiden;
     line-height:34px;
    front-size:13px;
     text-align: left;
     color:#956565;
     font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Hiragino Sans GB", "Microsoft YaHei", sans-seri;
      text-overflow: ellipsis;
   
}

.wenzi-cell-description h4{
	margin:15px;
	 font-size: 26px;
    line-height: 26px;
	  color:#ff7467;
}
.wenzi-cell-description-s{
	margin:15px 0 0 10px;
	 height: 250px;
	 position:relative;
     line-height:30px;
       font-size:20px;
     
       color:#466565;
       front-family:KaiTi_GB2312，Times, TimesNR, 'New Century Schoolbook',
     Georgia, 'New York', serif;
     overflow-y:scroll;
     overflow-x:auto;
     
     
}
.hidden-cell {
    /*background: #f5f5f5;*/
    height: 30px;
    padding: 0 15px;
    color: #959595;
    line-height: 30px
}

.hidden-cell .viewsNumber {
    float: left
}

.hidden-cell .saleNumber {
    float: left;
    margin-left: 15px
}

.hidden-cell .originalPrice {
    float: right;
    text-decoration: line-through
}

.hidden-cell em {
    color: #ff7467
}

.list-buymask {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    top: 0;
    right: 0;
    height: 275px;
    background-color: rgba(0, 0, 0, .36);
    z-index: 8
}

.list-buybtn {
    margin: 80px auto 0;
    width: 126px;
    height: 38px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    text-align: center
}

.dy-email, .inner-show {
    border: 1px solid #ddd
}

.buy-btn-text {
    display: inline-block
}

.buy-btn-ico {
    margin-left: 5px;
    background-position: 0 -23px;
    width: 9px;
    height: 14px;
    display: inline-block
}

.lm-index-product-list li:hover .list-wenzi-wrap {
    bottom: 30px
}

.lm-index-product-list li:hover .list-photo {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2)
}

.lm-index-product-list li:hover .list-tuwen:before {
    -webkit-filter: blur(2px);
    filter: blur(2px)
}

.lm-index-product-list li:hover .list-buymask {
    opacity: 1
}

.list-pages {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}


