body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

body {
    font-size: 12px;
    text-align: center
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: normal;
    font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    text-align: left
}

sup, sub {
    font-size: 100%;
    vertical-align: baseline
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

.clear_fix:before, .clear_fix:after {
    clear: both;
    content: "";
    display: block;
}
dd{
	border: 0px none;
font: inherit;
vertical-align: baseline;
margin: 0px;
padding: 0px;
}
.item .item_cont a {
  font-size:16px;
}


.box{
	z-index:10000
}
.travel{
	top: 225px;
    margin-left: -440px;
}
.travel .travel_right .sub_item {

    width: 500px;
    display: none;
    background-color: white;
    /*opacity: 0.9;*/
    /*filter: alpha(opacity=50);*/
    /*float: left;*/
}

.travel_right .one {
    height: auto;
}

.travel .two {
    height: auto;
}

.travel .list_one {
    padding: 10px;
}

.travel .list_one li {
    float: left;
    margin: 6px;
}



.btn {
    margin: 25px auto;
    width: 980px;
    height: 40px;
    margin-bottom: 0;
}

.btn li {
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.btn li a {
       display: block;
    color: #636363;
    font-size: 17px;
    font-family: "Microsoft YaHei light";
    width: 100%;
    height: 100%;
    font-weight: bold;
    transition:all 0.2s ease;
}

.btn li a:hover,.btn .active {
    color: #ff6b3d;
}


.btn .line {
    height: 1px;
    background-color: #b76cc7;
    position: relative;
    left: 345px;
    top: 10px;
    width: 500px;
}

.btn .hot_icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: transparent url("../../../images/main-icon.png") repeat scroll -156px 56px / 688% 147%;
    position: relative;
    top: -15px;
    left: 490px;
}

#btn_pub {
    float: right;
    width: 80px;
    font-weight: bold
}


.ui_page_item_current {
    background-color: #ff3c41;
    font-size: 14px;
    color: white;
    display: inline-block;
}

.page_turning:hover {
    background-color: rgba(227, 227, 227, 1);
    padding: 0 2px;
}

.hot-left-title .hot_icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: transparent url("../../../images/main-icon.png") repeat scroll -10px 60px / 688% 147%;
    position: relative;
}

.hot-left-title span {
    position: relative;
    top: -15px;
}




.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

code, kbd, samp, tt, input, button, textarea, select {
    font-size: 100%
}

:link, :visited, ins, a {
    text-decoration: none
}

:focus {
    outline: 0 none
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0
}

* html, * html
body {
    background-attachment: fixed
}

body {
    background-color: #fff;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Hiragino Sans GB", Tahoma, arial, 宋体, sans-serif;
    color: #404040;
    text-align: left
}

a {
    color: #404040
}

.hot-left {
    border: 1px solid #e3e3e3;
    width: 168px;
    float: left;
}

.hot-left-title, .hot-left-tab {
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e3e3e3;
    font-family: "Microsoft Yahei light";
    padding: 5px;
    font-weight:bold;
    
}

.hot .left-details {
    padding: 20px 15px 0;
    width: 158px;
    _padding: 15px 10px
}

.hot-place {
    height: 50px;
    width: 160px;
    margin-bottom: 20px
}

.hot-place
.scenery {
    margin-right: 8px;
    display: inline-block;
    vertical-align: top
}

.hot-place .scenery-details {
    display: inline-block;
    height: 50px;
    width: 98px
}

.hot-place .scenery-details
a {
    display: block;
    height: 25px;
    line-height: 25px;
    width: 98px;
    font-size: 16px;
    color: #ff6b3d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hot-place .scenery-details
span {
    display: block;
    height: 25px;
    line-height: 25px;
    width: 98px
}

.hot-place .scenery-details span
a {
    color: #999;
    font-size: 12px;
    display: inline;
    margin-left: 2px
}

.hot-place .scenery-details span a:hover {
    color: #333
}

body {
    font-family: Microsoft YaHei;
    color: #666
}

.content {
    width: 980px;
    margin: 10px auto;
    position: relative
}

.hot
.pages {
    margin-top: 40px;
    float: right
}

.hot .pages
em {
    font-size: 14px
}

.hot .pages
a {
    font-size: 14px;
    margin: 0 1px;
    padding: 3px 10px;

}

.hot-main-s {
    width: 1120px;
    _width: 818px;
    _position: relative
}
.hot-center{
float: left;
    width: 1120px;
    margin-left: -1px;
}

.hot-main-s .hot-main-square-box {
    height: 306px;
    float: left
}

.hot-main-s .hot-main-square {
    width: 325px;
    height: 304px;
    float: left;
    margin-right: 3px;
    display: inline;
    margin-bottom: 3px;
    zoom: 1
}
.hot-main-s .hot-main-square img:hover {
	webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}
.hot-main-s .hot-main-square:hover .hot-main-middle {
	
}
.hot-main-s .hot-main-square img {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hot-main-s .hot-main-up {
    width: 325px;
    height: 192px;
    position: relative;
    background: url("http://img2.tuniucdn.com/img/20140211/guide/default_cover.png") no-repeat scroll center center rgba(0, 0, 0, 0)
}

.hot-main-s .hot-main-up
a {
    display: block;
    overflow: hidden;
    width: 325px;
    height: 192px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 190px
}

.hot-main-s .hot-main-middle {
    width: 249px;
    height: 20px;
    padding: 8px 8px;
}

.hot-main-s .hot-main-middle .note-title {
    height: 38px;
    overflow: hidden
}

.hot-main-s .hot-main-down {
    width: 325px;
    height: 44px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ff6b3d;
    padding: 10px;
    box-sizing: border-box;
}

.hot-main-s .hot-main-down p a:hover
img {
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.hot-main-s .hot-main-down p a:hover
em {
    color: #f90
}

.hot-main-middle .scan, .hot-main-middle .like, .hot-main-middle
.comment {
    display: inline-block;
    width: 12px;
    height: 9px
}

.hot-main-middle
.scan {
    background-position: -301px -115px
}

.hot-main-middle
.like {
    background-position: -352px -116px
}

.hot-main-middle
.comment {
    background-position: -401px -115px;
    margin-bottom: 0;
    position: static;
    min-height: 9px
}

.hot-main-down .author-info {
    display: inline-block;
    height: 32px;
    width: 174px;
    padding: 6px
}

.hot-main-down .author-info
img {
    border-radius: 17px;
    border: 1px solid #cdcdcd;
    vertical-align: middle
}

.hot-main-down .author-info
em {
    font-size: 14px;
    color: #690
}

.hot-main-down .reader-info {
    color: #999;
    margin-left: 80px;
}

.hot-main-s .hot-main-square.last {
    margin-right: 0
}


#btn_pub a{
	color:#FF6B3D;	
}
.ui_page_item_current{
	background-color:#ff3c41;
	
	font-size:14px;
	color:white;
	display:inline-block;
}
.page_turning:hover{
	background-color:rgba(227, 227, 227, 1);
	padding:0 2px;
}
